
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<script>
  
    var url = sessionStorage.apiProtocol + '://' + apiURL + ':' + apiPort + '/api/v1/patients/' + sessionStorage.patientID;
          var req = new XMLHttpRequest();
          req.onreadystatechange = function () {
  
              if (this.readyState == 4 && this.status == 200) {
  
                  var results = JSON.parse(this.responseText);
                  var age = results.person.birthdate;
  
                  sessionStorage.patientDOB = moment(age).format("DD/MMM/YYYY");
              }
          };
  
        req.open('GET', url, true);
        req.setRequestHeader('Authorization', sessionStorage.getItem("authorization"))
        req.send(null);
        var today_date = new Date();
        today_year = today_date.getFullYear();
    
        var DOB = sessionStorage.patientDOB;
        var dobDay = DOB.split('/')[0];
        var dobMonth = DOB.split('/')[1];
        var dobYear = DOB.split('/')[2];
        
        var age = today_year - dobYear;
        console.log(DOB);
        sessionStorage.patientAge = age;
        if(age < 14){
          window.location.href ="encounters/hts_visit.html";
        }
  </script>
<style>

.inputFrameClass {
  width: 96% !important;
}


</style>

<body id="mateme">
  <div id="container">
    <div id="content">
      <form>
         <select id="Partner" name="partner" tt_onLoad="changeNextBTN();" helpText="Partner present?"> 
          <option>No</option>
          <option>Yes</option>
          </select>
         
      </form>

   </div>
 </div>
</body>


<script>

  var patientID = sessionStorage.getItem("patientID");
  var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
  var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + sessionStorage.patientID;



  if (top.location != location) {
      window.location.href = "encounters/hts_visit.html";
   }
   if(sessionStorage.patientAge < 14){
     console.log("Wassup");
   }
    function changeNextBTN() {
    var nextButton =  document.getElementById('nextButton');
    nextButton.setAttribute("onmousedown","checkPartner();");
        }
  
  function checkPartner() {
    partner = document.getElementById('touchscreenInput'+tstCurrentPage).value;

    if (partner == 'No') {
      window.location.href ="encounters/hts_visit.html";
    } else if (partner == "Yes") {
      window.location.href ="encounters/hts_visit_partner2.html";
    }
  }  


</script>