#system-selected-date {
  visibility: collapse;
}

.system-suggested-date {
  background-color: gray;
}

.calendar-table {
  display: table;
  width: 100%;
}

.calendar-table-row {
  display: table-row;
}

.calendar-table-cell {
  display: table-cell;
}

#calendar-table-cell-right {
  width: 26.5%;
  background-color: darkblue;
  /*height: 65vh;*/
  height: 500px;
  float: right;
  vertical-align: top;
  position: absolute;
  right: 12px;
}

#calendar-table-cell-left {
  width: 72%;
  vertical-align: top;
  padding-right: 10px;
  /*float: left;*/
}

.calendar {
  display: table;
  width: 100%;
  border-collapse: collapse;
  line-height: 60px;
  margin: 5px;
}

.calendar-row {
  display: table-row;
  vertical-align: top;
}

.calendar-cell {
  display: table-cell;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  height: 50px;
  width: 50px;
}

.weekdays {
  color: white;
  background-color: lightgray;
}

#display-table {
  width: 100%;
  color: white;
  padding-top: 5%;
}

.separator {
  background-color: lightgray;
}

#display-table td {
  text-align: center;
}

#display-table label {
  text-align: middle;
}

#currentDate {
  text-align: center;
  width: 70%;
  margin-left: 5px;
  font-weight: bold;
}

.controller {
  display: table;
  width: 99%;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
}

.controller-row {
  display: table-row;
}

.controller-cell {
  display: table-cell;
}

.badge {

    background-color: #FFFFFF;
    color: black;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    float: right;
    position: relative;
    right: 5px;
    width:auto;
    height:18px;
    line-height:18px;
    border-radius:10%;
    box-shadow:0 0 1px #333;

}