<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>

.inputFrameClass {
  width: 96% !important;
}


</style>

<body id="mateme">
  <div id="container">
    <div id="content">
      <form>
         <select id="uterus" name="uterus" tt_onLoad="changeNextBTN();" helpText="Uterus"> 
          <option>Well contracted</option>
          <option>Not contracted (boggy)</option>
          </select>
          <select id="status_of_placenta" name="uterus" tt_onLoad="changeNextButton();" helpText="Status of Placenta"> 
            <option>Delivered</option>
            <option>Not delivered</option>
          </select>
         
      </form>

   </div>
 </div>
</body>
<script>
    var patientID = sessionStorage.getItem("patientID");
    var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
    var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;

    function changeNextButton() {
        var nextButton =  document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown","postAbnorminalExam();")
    }

    function postAbnorminalExam() {
        var currentTime = moment().format(' HH:mm:ss');
        var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
        encounter_datetime += currentTime;

        var encounter = {
            encounter_type_name: 'ABDOMINAL EXAMINATION',
            encounter_type_id:  116,
            patient_id: sessionStorage.patientID,
            encounter_datetime: encounter_datetime
        };

        submitParameters(encounter, "/encounters", "postAbnorminalExamObs");
    }

    function postAbnorminalExamObs(encounter) {
        var uterus = document.getElementById('uterus').value;
        var statusOfPlancenta = document.getElementById('touchscreenInput' + tstCurrentPage).value;

        var conceptAnswers = [
            /*Uterus*/
            {
                "wellContracted": 9720,
                "notContracted": 9721
            },
            /*Placenta*/
            {
                "delivered": 7377,
                "notDelivered": 9722
            }
        ];

        var uterusAnswer;
        var placentaAnswer;

        switch (uterus.toUpperCase()) {
            case 'WELL CONTRACTED':
                uterusAnswer = conceptAnswers[0].wellContracted;
                break;
            case 'NOT CONTRACTED (BOGGY)':
                uterusAnswer = conceptAnswers[0].notContracted;
                break;
            default:
                break;
        }
        switch (statusOfPlancenta.toUpperCase()) {
            case 'DELIVERED':
                placentaAnswer = conceptAnswers[1].delivered;
                break;
            case 'NOT DELIVERED':
                placentaAnswer = conceptAnswers[1].notDelivered;
                break;
            default:
                break;
        }
        var obs = {
            encounter_id: encounter["encounter_id"],
            observations: [
                { concept_id: 8394, value_coded: uterusAnswer }, 
                { concept_id: 8395, value_text: placentaAnswer }
            ]
        };

        submitParameters(obs, "/observations", "nextPage");
    }

    function nextPage(){
       window.location.href = "/views/patient_dashboard.html?patient_id=" + patientID;
    }
</script>
