<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/apgar.js" defer="true"></script>

<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/apgar.js" ></script>
<script>
  
    var currentWeight;
    var baby_date_map = "";
    var displayText = "";
    var apgarScore = 0; 
    displaySummary = 'false'; 
    var timedEvent;
    var baby;
    var maxi;
    var mini;
    var gender;
    var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
    
  
  function weightAlert(){
      if(!$('weight_label')){
        var div = document.createElement("div");
        div.id = "weight_label";
        div.className = "statusLabel";  
        var sel = document.getElementById("baby_gender");
        var gender= sel.options[sel.selectedIndex].text;
        if (gender == "Male"){
          maxi = 4500.0;
          mini = 2500.0;
        }else if (gender == "Female"){
          maxi = 4400.0;
          mini = 2400.0;
        }
        $("inputFrame" + tstCurrentPage).appendChild(div);
  
      }
      weight = $("touchscreenInput" + tstCurrentPage).value.trim();
      if (weight != ""){
        $('weight_label').innerHTML = ((weight > maxi )? "<i style='font-size: 1.2em;color: red;float: right;'> Over Weight</i>" : ((weight < mini)? "<i  style='font-size: 1.2em;float: right;color: red;'>Under Weight</i>"  : ""));
        if (weight < maxi && weight > mini){$('weight_label').innerHTML = "<i style='float:right;font-size:1.2em;'>  Normal Weight</i>";}
      }else {       
        $('weight_label').innerHTML = "<i style='float:left;font-size:1.2em;'>  Enter Weight</i>";
      }   
    }

  
  </script>
<script>
    var patientID = sessionStorage.getItem("patientID");
    var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
    var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;

</script>

<body id="mateme">
  <div id="container">
    <div id="content">

      <form>
            <!-- BABY DETAILS -->
           <!--  <input type="text" name="number_babies" id="number_babies" helpText="Number of babies" field_type="number" tt_onLoad=""
            tt_pageStyleClass="Numeric NumbersOnly" 
            /> -->
  
            <!-- First Baby -->
           <!--  <input type="text" name="first_name" id="first_name" helpText="First name of baby" field_type="text" tt_onLoad=""
            tt_pageStyleClass="Numeric NumbersOnly" 
            />
            
            <input type="text" name="last_name" id="last_name" helpText="Last name of baby" field_type="text" tt_onLoad=""
            tt_pageStyleClass="Numeric NumbersOnly" 
            /> -->

            <input type="text" name="delivery_time" 
            id="delivery_time" field_type="advancedTime" 
            helpText="Baby Time of Delivery" /> 
  
            <input type="text" name="delivery_date" 
            id="delivery_date" field_type="date" 
            helpText="Baby Date of Delivery" 
            tt_pageStyleClass="date"/> 
  
          <select id="delivery_place" name="delivery_place" 
            helpText="Baby Place of Delivery"> 
            <option>This facility</option>
            <option>In transit</option>
            <option>Other facility</option>
            <option>Home/TBA</option>
          </select>

          <input type="text" name="health_facility" objectType="location"
          id="health_facility" field_type="alpha"
          key="health_facility" helpText="Which Health Facility"
          ajaxURL="/locations?name="
          key="health_facility" allowFreeText="true"
          condition = "$('delivery_place').value == 'Other facility'" />
  
          <select id="baby_presentation" name="baby_presentation" helpText="Baby Presentation"> 
            <option>Transverse</option>
            <option>Breech delivery</option>
            <option>Cephalic</option>
          </select>
          <select id="baby_outcome" name="baby_outcome" helpText="Baby Delivery Outcome"> 
                  <option>Alive</option>
                <option>Neonatal Birth</option>
                <option>Fresh Still birth</option>
                <option>Macerated Still Birth</option>
          </select>
          
            <select id="delivery_mode" name="delivery_mode" helpText="Baby Delivery Mode"> 
              <option>Spontaneous Delivery</option>
              <option>Caesarean Section</option>
              <option>Breech Delivery</option>
              <option>Vacuum extraction delivery</option>
          </select>   
          <select id="baby_gender" name="baby_gender"  helpText="Baby Sex"> 
            <option>Male</option>
          <option>Female</option>
          </select> 
        
          <!-- <input type="text" name="summary" id="apgar_one"
                 tt_onLoad="__$('keyboard').style.display = 'none'; showApgarControl(1,'one');"
                 tt_pageStyleClass= "NoControls" helpText="Baby 1st Minute APGAR" optional="true" absoluteMin="0" absoluteMax="10"/> -->

            
          <!-- <input type="text" name="summary" id="apgar_two"
                 tt_onLoad="__$('keyboard').style.display = 'none'; buildBabyApgar('five');"
                 tt_pageStyleClass= "NoControls" helpText="Baby 5th Minute APGAR" optional="true" absoluteMin="0" absoluteMax="10"/> -->

          <input type="text" name="weight" id="baby_weight" 
          helpText="Baby: Weight(Grams)" field_type="number" tt_onLoad = "timedEvent = self.setInterval(function(){weightAlert()}, 1000);" 
          tt_onUnload ="clearTimeout(timedEvent);"
          tt_pageStyleClass="unknownButton"/>
  
          <input type="text" name="baby_length" id="baby_length" 
          helpText="Baby: Length(CM)" field_type="number" tt_onLoad="changeNextButton();"
          tt_pageStyleClass="Numeric NumbersOnlyWithDecimal" /> 
       

      </form>

   </div>
 </div>
</body>

<script>
    function changeNextButton() {
        var nextButton =  document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown","postBabyOutcome();")
    }

    function postBabyOutcome() {
        var currentTime = moment().format(' HH:mm:ss');
        var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
        encounter_datetime += currentTime;


        var encounter = {
            encounter_type_name: 'UPDATE BABY OUTCOME',
            encounter_type_id:  127,
            patient_id: sessionStorage.patientID,
            encounter_datetime: encounter_datetime
        };

        submitParameters(encounter, "/encounters", "postBabyOutcomeObs");
    }

    function postBabyOutcomeObs(encounter) {
        var numberOfBabies = document.getElementById('number_babies').value;
        var firstName = document.getElementById('first_name').value;
        var lastName = document.getElementById('last_name').value;
        var deliveryTime = document.getElementById('delivery_time').value;
        var deliveryDate = document.getElementById('delivery_date').value;
        var placeOfDelivery = document.getElementById('delivery_place').value;
        var babyPresentation = document.getElementById('baby_presentation').value;
        var babyOutcome = document.getElementById('baby_outcome').value;
        var deliveryMode = document.getElementById('delivery_mode').value;
        var gender = document.getElementById('baby_gender').value;
        var weight = document.getElementById('baby_weight').value;
        var length = document.getElementById('touchscreenInput' + tstCurrentPage).value;
        var otherFacility = document.getElementById('health_facility').value;
    
        var deliveryDay = deliveryDate.split('-')[0];
        var deliveryMonth = deliveryDate.split('-')[1];
        var deliveryYear = deliveryDate.split('-')[2];

        var deliveryDateValue = deliveryYear + '-' + deliveryMonth + '-' + deliveryDay;

        var conceptAnswers = [
            // baby presentation
            {
                "transverse": 7432,
                "breech": 1172,
                "cephalic": 7431

            },
            // gender of baby
            {
                "male": 2843,
                "female": 2844
            },
            // delivery mode
            {
                "spontaneousVaginalDelivery": 1170,
                "breechDelivery": 1172,
                "caesareanSection": 1171,
                "vacuumExtraction": 7139
            },
            // place of delivery
            {
                "home_tba": 8850,
                "transit": 8848,
                "other": 6408,
                "facility": 5937
            },
            // baby outcome
            {
                "alive": 2180,
                "neonatalBirth": 226,
                "freshStillBirth": 7804,
                "maceratedStillBirth": 7803
            }
        ];

        var babyPresentationAnswer;
        var babyGenderAnswer;
        var babyDeliveryModeAnswer;
        var placeOfDeliveryAnswer;
        var babyOutcomeAnswer;

        switch(babyPresentation.toUpperCase()) {
            case 'TRANSVERSE':
                babyPresentationAnswer = conceptAnswers[0].transverse;
                break;
            case 'BREECH DELIVERY':
                babyPresentationAnswer = conceptAnswers[0].breechDelivery;
                break;
            case 'CEPHALIC':
                babyPresentationAnswer = conceptAnswers[0].cephalic;
            break;
            default:
                break;
        }

        switch(gender.toUpperCase()) {
            case 'MALE':
                babyGenderAnswer = conceptAnswers[1].male;
                break;
            case 'FEMALE':
                babyGenderAnswer = conceptAnswers[1].female;
                break;
            default:
                break;
        }

        switch(deliveryMode.toUpperCase()) {
            case 'SPONTANEOUS DELIVERY':
                 babyDeliveryModeAnswer = conceptAnswers[2].spontaneousVaginalDelivery;
                break;
            case 'BREECH DELIVERY':
                babyDeliveryModeAnswer = conceptAnswers[2].breechDelivery;
                break;
            case 'CAESAREAN SECTION':
                babyDeliveryModeAnswer = conceptAnswers[2].caesareanSection;
            break;
            case 'VACUUM EXTRACTION DELIVERY':
                babyDeliveryModeAnswer = conceptAnswers[2].vacuumExtraction;
                break;
            default:
                break;
        }

        switch(placeOfDelivery.toUpperCase()) {
            case 'THIS FACILITY':
                placeOfDeliveryAnswer = conceptAnswers[3].facility;
                break;
            case 'IN TRANSIT':
                placeOfDeliveryAnswer = conceptAnswers[3].transit;
                break;
            case 'OTHER FACILITY':
                placeOfDeliveryAnswer = conceptAnswers[3].facility;
                break;
            case 'HOME/TBA':
                placeOfDeliveryAnswer = conceptAnswers[3].other;
            default:
                break;
        }

        switch(babyOutcome.toUpperCase()) {
            case 'ALIVE':
                babyOutcomeAnswer = conceptAnswers[4].alive;
                break;
            case 'NEONATAL BIRTH':
                babyOutcomeAnswer = conceptAnswers[4].neonatalBirth;
                break;
            case 'FRESH STILL BIRTH':
                babyOutcomeAnswer = conceptAnswers[4].freshStillBirth;
            case 'MACERATED STILL BIRTH':
               babyOutcomeAnswer = conceptAnswers[4].maceratedStillBirth;
        }

        var obs = {
            encounter_id: encounter["encounter_id"],
            observations: [
                { concept_id: 7430, value_numeric: numberOfBabies }, //saving
                { concept_id: 7434, value_text: deliveryTime }, //saving
                { concept_id: 7435, value_datetime: deliveryDateValue },  //saving
                { concept_id: 8846, value_coded: babyGenderAnswer }, //saving
                { concept_id: 7438, value_coded: babyDeliveryModeAnswer }, //saving
                { concept_id: 2997, value_coded: placeOfDeliveryAnswer }, //saving
                { concept_id: 1172, value_coded:  babyPresentationAnswer }, 
                { concept_id: 7801, value_coded:  babyOutcomeAnswer }, //savng
                { concept_id: 5916, value_numeric:  weight }, //saving
                { concept_id: 2998, value_numeric:  length }, //saving
                { concept_id: 5913, value_text: firstName }, 
                 { concept_id: 5915, value_text: lastName }
            ]
        };
        if(otherFacility !== '') {
            obs.observations.push( { concept_id: 5937, value_numeric: otherFacility } ); 
        }

        submitParameters(obs, "/observations", "nextPage")
    }

    function nextPage(){
        window.location.href = "/views/patient_dashboard.html?patient_id=" + patientID;
    }
</script>