
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!--script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script-->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/apps/HTS/assets/js/common.js"></script>
<!-- <script type="text/javascript" src="/apps/HTS/assets/js/backdata.js"></script> -->
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<link rel="stylesheet" href="/assets/css/maindashboard/footer.css">

<style>

    .inputFrameClass {
        width: 96% !important;
    }

  
</style>
<body id="mateme">
<div id="container">
    <div id="content">


        <form>  
            
            <input type="text" name="testing_date"
            id="testing_date" field_type="date"
            key="testing_date" helpText="Testing Date"
            tt_pageStyleClass="date" allowFreeText="true"
            tt_onLoad="showCategory2('Backdata Entry'); changeNextTestingButton();"
           />

           <input type="text" name="register_number"
           id="register_number" field_type="date"
           key="register_number"  objectType="register" ajaxURL="/registers/" helpText="Register Number (from cover)"
           tt_pageStyleClass="number" allowFreeText="true"
           tt_onLoad="showCategory2('Backdata Entry');"
           tt_onUnLoad="loadBackdata();"
          />
          
            <input type="text" style ="display: none;" name="summary" id="referral_slips"
            tt_onLoad="__$('keyboard').style.display = 'none';"
            tt_pageStyleClass= "NoControls" helpText="HTS Family Referral Slips" optional="true"
            />
        </form>

    </div>
</div>

</body>

<script>
        var patientID = sessionStorage.getItem("patientID");
        var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
        var tt_cancel_destination = "http://127.0.0.1:8080" ;
        function changeNextButtonConsent() {
        var nextButton =  document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown","checkConsent();");
    }
    function changeNextTestingButton(){
        var nextButton =  document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown","checkDate();");
    }

    function changeNextRegisterButton(){
        var nextButton =  document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown","checkRegister();");
    }

    function checkRegister(){
        var testDate = document.getElementById('touchscreenInput'+tstCurrentPage).value;
    }

    function checkDate(){
        var testDate = document.getElementById('touchscreenInput'+tstCurrentPage).value;
        var utc = moment(testDate, "DD-MM-YYYY", true);
        var isUTC = utc.isValid();
        if(isUTC){
            gotoNextPage();
        }else{
            showMessage("Enter valid date (day, month, year)");
        }
    }


    function checkConsent() {
        consent = document.getElementById('touchscreenInput'+tstCurrentPage).value;

        if (consent == 'No') {
            window.location.href =  "/views/patient_dashboard.html?patient_id=" + patientID;

        } else if (consent == "Yes") {
           gotoNextPage();
        }
    }

    function loadBackdata(){
        var testing_date = document.getElementById('testing_date').value;
        window.location.href = "/apps/HTS/views/encounters/backdata2.html?testing_date="+testing_date;
    }

</script>    