
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!--script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script-->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/apps/MATERNITY/assets/js/common.js"></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>

    .inputFrameClass {
        width: 96% !important;
    }

 

</style>
<body id="mateme">
<div id="container">
    <div id="content">


        <form>
            <input type="text" name="admission_date"
                   id="admission_date" field_type="date"
                   key="admission_date" helpText="Admission Date"
                   tt_pageStyleClass="date" allowFreeText="true"
                   tt_onLoad="submitButton(); showCategory2('Patient admissions');"
                   tt_onUnLoad = "$('admission_date').value = $('admission_date').value.trim()" />

            <input type="text" name="admission_time"
                   id="admission_time" field_type="advancedTime"
                   key="admission_time" helpText="Admission Time"
                   allowFreeText="true" tt_onLoad="showCategory2('Patient admissions');"
                   condition = "$('admission_date').value.trim().length > 0;"/>

            <select id="observation" name="observations" helpText="General condition" tt_pageStyleClass="NoKeyboard" tt_requireNextClick='false' tt_onLoad="jQuery('#nextButton').hide(); showCategory2('Patient admissions');" >
                <option></option>
                <option>Healthy</option>
                <option>Sick Looking</option>
            </select>

            <select id="condition" name="conditions" helpText="Condition" tt_pageStyleClass="NoKeyboard" tt_requireNextClick='false' tt_onLoad="jQuery('#nextButton').hide(); showCategory2('Patient admissions');">
                <option></option>
                <option>Stable</option>
                <option>Critical</option>
            </select>
            <select id="anemic" name="anemic" helpText="Anaemic" tt_pageStyleClass="NoKeyboard" tt_requireNextClick='false' tt_onLoad="jQuery('#nextButton').hide();showCategory2('Patient admissions');"
            tt_onUnload="jQuery('#nextButton').show();">
                <option></option>
                <option>Yes</option>
                <option>No</option>
            </select>
            <select id="oedema" name="oedema" tt_onLoad="changeNextButton();" helpText="Oedema" tt_onLoad="showCategory2('Patient admissions');">
                <option>None</option>
                <option></option>
                <option>1+</option>
                <option>2+</option>
                <option>3+</option>
            </select>
        </form>

    </div>
</div>
</body>
<script>
    var patientID = sessionStorage.getItem("patientID");
    var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
    var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;

    function submitButton(){
    var nextButton = document.getElementById('nextButton');
    nextButton.onmousedown = function(){
      validateDate();
      }
     }

    function validateDate(){
        var admissionDate = $('touchscreenInput'+tstCurrentPage).value;
        var admissionDay = admissionDate.split('-')[0];
        var admissionMonth = admissionDate.split('-')[1];
        var admissionYear = admissionDate.split('-')[2];
        var admissionDateValue = admissionYear + '-' + admissionMonth + '-' + admissionDay;
        var DOB = sessionStorage.patientDOB;
        var dobDay = DOB.split('/')[0];
        var dobMonth = DOB.split('/')[1];
        var dobYear = DOB.split('/')[2];
        var mon = "JanFebMarAprMayJunJulAugSepOctNovDec".indexOf(dobMonth) / 3 + 1;
        var dobValue = dobYear + "-" + 0+ mon + "-" + dobDay;
        var dateOfBirth = new Date(dobValue);
        var dateOfAdmission = new Date(admissionDateValue);
        if (dateOfAdmission < dateOfBirth){
            showMessage("Date must be greater than birth date");
        }else{
            gotoNextPage();
        }
    }
    function changeNextButton() {
        var nextButton =  document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown","postObstetricHistory();")
    }

    function postObstetricHistory() {
        var currentTime = moment().format(' HH:mm:ss');
        var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
        encounter_datetime += currentTime;

        var encounter = {
            encounter_type_name: 'PATIENT ADMISSIONS',
            encounter_type_id:  97,
            patient_id: sessionStorage.patientID,
            encounter_datetime: encounter_datetime
        };

        submitParameters(encounter, "/encounters", "postObstetricHistoryObs");
    }

    function postObstetricHistoryObs(encounter) {

        var admissionDate = document.getElementById('admission_date').value;
        var admissionTime = document.getElementById('admission_time').value;
        var observationValue = document.getElementById('observation').value;
        var conditionValue = document.getElementById('condition').value;
        var anemicValue = document.getElementById('anemic').value;
        var oedemaValue = document.getElementById('touchscreenInput' + tstCurrentPage).value;
        var admissionDay = admissionDate.split('-')[0];
        var admissionMonth = admissionDate.split('-')[1];
        var admissionYear = admissionDate.split('-')[2];

        var admissionDateValue = admissionYear + '-' + admissionMonth + '-' + admissionDay;

        var conceptAnswers = [
            // for observations
            {
                "healthy": 1888,
                "sickLooking": 2308,
            },
            // condition status
            {
                "stable": 9723,
                "critical": 9724
            },
            // anemic
            {
                "yes": 1065,
                "no": 1066
            },
            // oedema
            {
                "plusOne": 7129,
                "plusTwo": 7130,
                "plusThree": 7131
            }
        ];

        var observationValueAnswer;
        var conditionValueAnswer;
        var anaemicValueAnswer;
        var oedemaValueAnswer;
        var anemicValueAnswer;

        switch (observationValue.toUpperCase()) {
            case 'HEALTHY':
                observationValueAnswer = conceptAnswers[0].healthy;
                break;
            case 'SICK LOOKING':
                observationValueAnswer = conceptAnswers[0].sickLooking;
                break;
            default:
                break;
        }

        switch (conditionValue.toUpperCase()) {
            case 'STABLE':
                conditionValueAnswer = conceptAnswers[1].stable;
                break;
            case 'CRITICAL':
                conditionValueAnswer = conceptAnswers[1].critical;
            default:
                break;
        }

        switch (anemicValue.toUpperCase()) {
            case 'YES':
                anemicValueAnswer = conceptAnswers[2].yes;
                break;
            case 'NO':
                anemicValueAnswer = conceptAnswers[2].no;
                break;
            default:
                break;
        }

        switch (oedemaValue) {
            case '1+':
                oedemaValueAnswer = conceptAnswers[3].plusOne;
                break;
            case '2+':
                oedemaValueAnswer = conceptAnswers[3].plusTwo;
                break;
            case '3+':
                oedemaValueAnswer = conceptAnswers[3].plusThree;
                break;
            default:
                break;
        }

        var obs = {
            encounter_id: encounter["encounter_id"],
            observations: [
                { concept_id: 7826, value_datetime: admissionDateValue }, // admission date
                { concept_id: 7827, value_text: admissionTime }, // admission time
                { concept_id: 3627, value_coded: observationValueAnswer }, // observations
                { concept_id: 7828, value_coded: conditionValueAnswer }, // condition
                { concept_id: 3, value_coded: anaemicValueAnswer }, // anaemic
                { concept_id: 460, value_coded: oedemaValueAnswer } // oedema
            ]
        };

        submitParameters(obs, "/observations", "nextPage")
    }

    function nextPage(){
        nextEncounter(sessionStorage.patientID, sessionStorage.programID);
    }
</script>
