
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!--script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script-->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/apps/HTS/assets/js/common.js"></script>
<script type="text/javascript" src="/apps/HTS/assets/js/htn_visit.js"></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>

    .inputFrameClass {
        width: 96% !important;
    }

    .active{
        background-color: #ffc579 !important;
    }
    .btn-yellow {
    min-height: 40px;
    margin: 0px;
        margin-bottom: 0px;
    margin-bottom: 5px;
    font-size: 1.2em;
    background-color: #ffc579;
    color: #FFF;
    font-weight: normal;
    border: 5px outset #000;
    padding: 9px;
    cursor: pointer;
    background: url(/assets/images/btn_yellow.png) right repeat;
    -moz-user-select: none;
    -moz-user-focus: disabled;
    border-radius: 12px;
    pointer-events: none;
}
</style>
<body id="mateme">
<div id="container">
    <div id="content">


        <form>  

            <select id="hts_access_type" name="hts_access_type"  helpText="HTS Access Type" tt_onLoad="showCategory2('HTS Visit');changeNextButtonValidation();">
                <option>Routine HTS (PITC) within Health Service</option>
                <option>Comes with HTS Family Referral Slip</option>
                <option>Other(VCR, etc)</option>
            </select>
            <select id="referred_slip" name="referred_slip" helpText="Who referred slip" tt_pageStyleClass="NoKeyboard" tt_onLoad="howCategory2('HTS Visit');changeNextButtonValidation();" 
            condition = "__$('hts_access_type').value == 'Comes with HTS Family Referral Slip'">
                <option></option>
                <option>Spouse/Sexual Partner</option>
                <option>Parent</option>
                <option>Other</option>
            </select>

            <select id="last_hiv_test" name="last_hiv_test" helpText="Last HIV Test Result" tt_onLoad="showCategory2('HTS Visit');changeNextButtonValidation();"
            condition = "__$('hts_access_type').value == 'Routine HTS (PITC) within Health Service'">
                    <option>Never Tested</option>
                    <option>Last Negative</option>
                    <option>Last Positive</option>
                    <option>Last Inconclusive</option>
                    <option>Last Exposed Infant</option>
                </select>

                <input type="text" name="test_date"
                id="test_date" field_type="date"
                key="test_date" helpText="Time since last Test"
                tt_pageStyleClass="date" allowFreeText="true"
                tt_onLoad=" showCategory2('HTS Visit'); changeNextButtonValidation();"
                tt_onUnLoad = "$('last_hiv_test').value != 'Never Tested'"  />
            

                <select id="client_risk" name="client_risk" helpText="Client risk category" tt_pageStyleClass="NoKeyboard"  tt_onLoad=" showCategory2('HTS Visit'); changeNextButtonValidation();"
                condition = "__$('last_hiv_test').value != 'Never Tested'" >
                        <option>Low Risk</option>
                        <option>On-going Risk</option>
                        <option>High Risk Event in Last 3 months</option>
                        <option>Risk assessment Not Done</option>
                 </select>
                 <select id="pregnant" name="pregnant" helpText="Pregnant?" tt_pageStyleClass="NoKeyboard" tt_onLoad="showCategory2('HTS Visit'); changeNextButtonValidation();" >
                        <option></option>
                        <option>No</option>
                        <option>Yes</option>
                    </select>
           
                 <select id="client_consent" name="client_consent" helpText="Client gives consent to be tested?" tt_pageStyleClass="NoKeyboard" tt_onLoad="showCategory2('HTS Visit');changeNextButtonConsent();" >
                        <option></option>
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                   

                    <input type="text" name="summary" id="test_result_one"
                    tt_onLoad="__$('keyboard').style.display = 'none';showCategory2('HTS Visit');buildTest();"
                    tt_pageStyleClass= "NoControls" helpText="First Pass Test 1 Result" optional="true"/>
                    
                    <input type="text" name="summary" id="test_result_two"
                    tt_onLoad="__$('keyboard').style.display = 'none';showCategory2('HTS Visit');buildTestTwo();"
                    tt_pageStyleClass= "NoControls" helpText="First Pass Test 2 Result" optional="true"
                    condition = " testResultOne == 'reactive'"/>
    
                    <input type="text" name="summary" id="parallel_test"
                    tt_onLoad="__$('keyboard').style.display = 'none';showCategory2('HTS Visit');buildParallelTest();"
                    tt_pageStyleClass= "NoControls" helpText="Immediate Parallel Repeat Test 1 & 2 Results" optional="true"
                    condition = " testResultOne == 'reactive' && testResultTwo == 'Non reactive'"/>

                    <input type="text" name="appointment_date"
                    id="appointment_date" field_type="date"
                    id="appointment_date" field_type="date"
                     helpText="Appointment Date Given"
                    tt_pageStyleClass="date" allowFreeText="true"
                    tt_onLoad=" checkResult();showCategory2('HTS Visit');changeNextButtonValidation();"
                    tt_onUnLoad = "" />

                    <select id="partner_status" name="partner_status" helpText="Partner HIV Status" tt_pageStyleClass="NoKeyboard" tt_onLoad="showCategory2('HTS Visit');changeNextButtonValidation();" >
                            <option></option>
                            <option>No Partner</option>
                            <option>HIV Unknown</option>
                            <option>Partner Negative</option>
                            <option>Partner Positive</option>
                        </select>
                    
                    <input type="text" name="male_condoms" id="male_condoms"  helpText="Number of male condoms given" field_type="number"  tt_pageStyleClass="Numeric NumbersOnly"
                    tt_onLoad="showCategory2('HTS Visit'); changeNextButtonValidation();"/>

                    <input type="text" name="female_condoms" id="female_condoms"  helpText="Number of female condoms given" field_type="number"  tt_pageStyleClass="Numeric NumbersOnly"
                    tt_onLoad="showCategory2('HTS Visit'); changeNextButtonValidation();"/>
                    
                    <input type="text" name="summary" id="referral_slips"
                    tt_onLoad="__$('keyboard').style.display = 'none';showCategory2('HTS Visit');buildReferralSlips();"
                    tt_pageStyleClass= "NoControls" helpText="HTS Family Referral Slips" optional="true"
                    />
                    
                    <input type="text" name="comment" 
                    id="comment" field_type="comment" 
                    key="comment" helpText="Comments"  
                    allowFreeText="true" tt_onLoad="showCategory2('HTS Visit');changeNextButton();"/>
  
        </form>

    </div>
</div>
</body>

<script>
        var patientID = sessionStorage.getItem("patientID");
        var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
        var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;

    function changeNextButtonConsent() {
    var nextButton =  document.getElementById('nextButton');
    nextButton.setAttribute("onmousedown","checkConsent();");
        }
    function changeNextButtonValidation() {
        var nextButton =  document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown","validateFields();");
        }
    
    function validateFields(){
       var input = document.getElementById('touchscreenInput'+tstCurrentPage).value;
       if(input == ''){
           showMessage("Required field empty");
       }else{
           gotoNextPage();
        }
    }

    function checkConsent() {
        consent = document.getElementById('touchscreenInput'+tstCurrentPage).value;

        if (consent == 'No') {
            postHtsVisit();

        } else if (consent == "Yes") {
           gotoNextPage();
        }
    }

    function changeNextButton() {
        var nextButton =  document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown","postHtsVisit();")
    }

    function postHtsVisit() {
        var currentTime = moment().format(' HH:mm:ss');
        var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
        encounter_datetime += currentTime;

        var encounter = {
            encounter_type_name: 'HTS Visit',
            encounter_type_id:  163,
            patient_id: sessionStorage.patientID,
            encounter_datetime: encounter_datetime
        };

        submitParameters(encounter, "/encounters", "postHtsVisitObs");
    }    

    function postHtsVisitObs(encounter) {

        var accessType = document.getElementById('hts_access_type').value;
        var refferedSlip = document.getElementById('referred_slip').value;
        var lastHivTest = document.getElementById('last_hiv_test').value;
        var testDate = document.getElementById('test_date').value;
        var clientRisk = document.getElementById('client_risk').value;
        var pregnant = document.getElementById('pregnant').value;
        var clientConscent = document.getElementById('client_consent').value;
        var parallelTest = document.getElementById('parallel_test').value;
        var appointmentDate = document.getElementById('appointment_date').value;
        var partnerStatus = document.getElementById('partner_status').value;
        var maleCondoms = document.getElementById('male_condoms').value;
        var femaleCondoms = document.getElementById('female_condoms').value;
       // var refferalSlips = document.getElementById('referral_slips').value;
        var comment = $('touchscreenInput'+tstCurrentPage).value;
        //Test date
        var testDay = testDate.split('-')[0];
        var testMonth = testDate.split('-')[1];
        var testYear = testDate.split('-')[2];
        var testDateValue = testYear + '-' + testMonth + '-' + testDay;

        //Appointment Date
        var appointmentDay = appointmentDate.split('-')[0];
        var appointmentMonth = appointmentDate.split('-')[1];
        var appointmentYear = appointmentDate.split('-')[2];
        var appointmentDateValue = appointmentYear + '-' + appointmentMonth + '-' + testDay;


        var conceptAnswers = [

            /*Access type*/
            {
                "pitc": 9429,
                "refferalSlip":9430,
                "other": 6408
            },      
            {
                "spouse": 5617,
                "parent": 2173,
                "other": 6408
            },
            /*Last HIV Test*/
            {
                "neverTested": 9432,
                "lastNegative": 9433,
                "lastPositive": 9434,
                "lastInconclusive": 9436,
                "lastInfant":9435
            },
            /*Client risk*/
            {
                "lowRisk": 9437,
                "OngoingRisk": 9749,
                "highRisk": 9438,
                "riskAssess": 9439
            },
            /*Pregnant*/
            {
                "yes": 1065,
                "no": 1066
            },
             /*Partner status*/
             {
                "noPartner": 1914,
                "hivUnknown": 9750,
                "partnerNegative": 9751,
                "partnerPositive": 5566           }
        ];

        var hivAccessAnswer;
        var refferedSlipAnswer;
        var hivTestAnswer;
        var clientRiskAnswer;
        var pregnantAnswer;
        var partnerStatusAnswer;
        var clientConscentAnswer;

        switch (accessType) {
            case 'Routine HTS (PITC) within Health Service':
                hivAccessAnswer = conceptAnswers[0].pitc;
                break;
            case 'Comes with HTS Family Referral Slip':
                hivAccessAnswer = conceptAnswers[0].refferalSlip;
                break;
            case 'Other(VCR, etc)':
                hivAccessAnswer = conceptAnswers[0].other;
                break;
            default:
                break;
        }
        switch (refferedSlip.toUpperCase()) {
            case 'SPOUSE/SEXUAL PARTNER':
                refferedSlipAnswer = conceptAnswers[1].spouse;
                break;
            case 'PARENT':
                refferedSlipAnswer = conceptAnswers[1].parent;
                break;
            case 'OTHER':
                refferedSlipAnswer = conceptAnswers[1].other;
                break;
            default:
                break;
        }
        switch (lastHivTest.toUpperCase()) {
            case 'NEVER TESTED':
                hivTestAnswer = conceptAnswers[2].neverTested;
                break;
            case 'LAST NEGATIVE':
                hivTestAnswer = conceptAnswers[2].lastNegative;
                break;
            case 'LAST POSITIVE':
                hivTestAnswer = conceptAnswers[2].lastPositive;
                break;
            case 'LAST INCONCLUSIVE':
                hivTestAnswer = conceptAnswers[2].lastInconclusive;
                break;
            case 'LAST EXPOSED INFANT':
                hivTestAnswer = conceptAnswers[2].lastInfant;
                break;
            default:
                break;
        }
        switch (clientRisk.toUpperCase()) {
            case 'LOW RISK':
                clientRiskAnswer = conceptAnswers[3].lowRisk;
                break;
            case 'ON-GOING RISK':
                clientRiskAnswer = conceptAnswers[3].OngoingRisk;
                break;
            case 'HIGH RISK EVENT IN LAST 3 MONTHS':
                clientRiskAnswer = conceptAnswers[3].highRisk;
                break;
            case 'RISK ASSESSMENT NOT DONE':
                clientRiskAnswer = conceptAnswers[3].riskAssess;
            break;
            default:
                break;
        }
        switch (pregnant.toUpperCase()) {
            case 'NO':
                pregnantAnswer = conceptAnswers[4].no;
                break;
            case 'YES':
                pregnantAnswer = conceptAnswers[4].yes;
                break;
            default:
                break;
        }
        switch (clientConscent.toUpperCase()) {
            case 'NO':
                clientConscentAnswer = conceptAnswers[4].no;
                break;
            case 'YES':
                clientConscentAnswer = conceptAnswers[4].yes;
                break;
            default:
                break;
        }
        switch (partnerStatus.toUpperCase()) {
            case 'NO PARTNER':
                partnerStatusAnswer = conceptAnswers[5].noPartner;
                break;
            case 'HIV UNKNOWN':
                partnerStatusAnswer = conceptAnswers[5].hivUnknown;
                break;
            case 'PARTNER NEGATIVE':
                partnerStatusAnswer = conceptAnswers[5].partnerNegative;
                break;
            case 'PARTNER POSITIVE':
                partnerStatusAnswer = conceptAnswers[5].partnerPositive;
                break;
            default:
                break;
        }
        
        var obs = {
            encounter_id: encounter["encounter_id"],
            observations: [
                { concept_id: 9428, value_coded: hivAccessAnswer },
                { concept_id: 9431, value_text: testDateValue },
                { concept_id: 9427, value_coded: clientRiskAnswer },
                { concept_id: 6131, value_coded: pregnantAnswer },
                { concept_id: 9420, value_coded: clientConscentAnswer }
                    ]
        };

        if(refferedSlip !== '') {
            //9752
            obs.observations.push({ concept_id: 9430, value_coded: refferedSlipAnswer });
        }
        if( lastHivTest !== '') {

            obs.observations.push({ concept_id: 9656, value_coded: hivTestAnswer });
        }
     
        if( testResultOne !== '') {
            obs.observations.push({ concept_id: 9467, value_text: testResultOne });
        }
        if( testResultTwo !== '') {
            obs.observations.push({ concept_id: 9468, value_text: testResultTwo });
        }

        if( appointmentDate !== '') {

            obs.observations.push({ concept_id: 5096, value_text: appointmentDateValue });
       
        }

        // if(partnerStatus !== '') {

        //     obs.observations.push({ concept_id: 3082, value_coded: partnerStatusAnswer });
        //     }

        if( maleCondoms !== '') {
            obs.observations.push({ concept_id: 7858, value_text: maleCondoms });
        }
        
        if( femaleCondoms !== '') {
            obs.observations.push({ concept_id: 7859, value_text: femaleCondoms });
        }

        if( refferedSpouse.length <= 1){
            refferedSpouse.forEach(element => {
                obs.observations.push({ concept_id: 9430, value_text: element });
            });
        }
        if( referredChild.length <= 1){
            referredChild.forEach(element => {
                obs.observations.push({ concept_id: 9430, value_text: element });
            });
        }
        if( referredOther.length <= 1){
            referredOther.forEach(element => {
                obs.observations.push({ concept_id: 9430, value_text: element });
            });
        }

        if( comment !== '') {
            obs.observations.push({ concept_id: 6357, value_text: comment });
        }
        
        submitParameters(obs, "/observations", "nextPage")
    }

    function nextPage(){

       nextEncounter(sessionStorage.patientID, sessionStorage.programID);

    }

</script>    