
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!--script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script-->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/apps/HTS/assets/js/common.js"></script>
<script type="text/javascript" src="/apps/HTS/assets/js/hts_visit_partner.js"></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>

    .inputFrameClass {
        width: 96% !important;
    }

    .active{
        background-color: #ffc579 !important;
    }
    .btn-yellow {
    min-height: 40px;
    margin: 0px;
        margin-bottom: 0px;
    margin-bottom: 5px;
    font-size: 1.2em;
    background-color: #ffc579;
    color: #FFF;
    font-weight: normal;
    border: 5px outset #000;
    padding: 9px;
    cursor: pointer;
    background: url(/assets/images/btn_yellow.png) right repeat;
    -moz-user-select: none;
    -moz-user-focus: disabled;
    border-radius: 12px;
    pointer-events: none;
}
</style>
<body id="mateme">
<div id="container">
    <div id="content" style="width:49.5%;  margin-right: 0%;">

        <iframe src="hts_visit.html" id="frame1" height="200" width="99%" onload="iframeclick()"></iframe> 

    </div>
    <div id="content" style="width:49.5%; position: absolute; right:1;">
    
            <iframe src="consent.html" id="frame2" height="200" width="99%" onload="iframe2click()"></iframe> 
    </div>
</div>

<script>
     var  $j = jQuery.noConflict();     

    function iframeclick() {
        document.getElementById("frame1").contentWindow.document.body.onclick = function() {
            $j("#frame1").css("border", "2px solid red");
            $j("#frame2").css("border", "0px solid #fff");
            }
    }
    function iframe2click() {
      frame2 = document.getElementById("frame2").contentWindow
      frame2.document.body.onclick = function() {
            $j("#frame2").css("border", "2px solid red");
            $j("#frame1").css("border", "0px solid #fff");
            }
      frame2.document.getElementById('buttons').style.display = "none";
    }
</script>