
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<script type="text/javascript" src="/apps/MATERNITY/assets/js/common.js"></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>

.inputFrameClass {
  width: 96% !important;
}
</style>

<script>
var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");

  function validateInput(){
    try{
      var ttv_status = $('touchscreenInput'+tstCurrentPage).value;
      if (ttv_status == "" || ttv_status == null){
        showMessage("You must enter a value to continue");
      }
      if(ttv_status > 0 && ttv_status <= 5){
        postPatientHistory();
      }else if(ttv_status > 5){
        showMessage("Value greater than maximum 5");
        return;
      }
      }catch(e){
        console.log(e);
      }
  }

  function submitButton(){
    var nextButton = document.getElementById('nextButton');
    nextButton.onmousedown = function(){
      validateInput();
      }
  }

</script>
<body id="mateme">
  <div id="container">
    <div id="content">


      <form>
    
     <input type="text" name="gravida" id="gravida" helpText="Gravida" AbsoluteMax="12" field_type="number" tt_onLoad="showCategory2('Obstretic history'); jQuery('#zero').hide();" tt_pageStyleClass="Numeric NumbersOnly" />

     <select id="multiple_pregnancy" name="multiple_pregnancy" helpText="Ever had multiple pregnancies" tt_onLoad="showCategory2('Obstretic history');" condition = "$('gravida').value > 1 ">   
            <option>Yes</option>
            <option>No</option>
      </select>

      <input type="text" name="num_of_deliveries" id="num_of_deliveries" helpText="Number of deliveries" tt_onLoad="showCategory2('Obstretic history');" field_type="number" tt_pageStyleClass="Numeric NumbersOnly" 
      condition = "$('gravida').value > 1"/>
      
      <input type="text" name="num_of_abortions" id="num_of_abortions" helpText="Number of abortions" field_type="number" tt_onLoad="showCategory2('Obstretic history');" tt_pageStyleClass="Numeric NumbersOnly" 
      condition = "$('gravida').value > 1"/>
     
      <select id="delivery_mode" name="delivery_mode" tt_onLoad="showCategory2('Obstetric history');changeNextBTN();" helpText="Select Delivery Mode" condition = "$('gravida').value > 1"> 
            <option>Spontaneous Delivery</option>
            <option>Caesarean Section</option>
            <option>Breech Delivery</option>
      </select>

      <input type="text" name="menstruation_date" id="menstruation_date" tt_onLoad="showCategory2('Obstetric history');changeNextBTN();" helpText="Last Menstruation Date" field_type="date"
      tt_pageStyleClass="date" />

      <input type="text" name="ttv_status" id="ttv_status" helpText="TTV Status" max="5" field_type="number"  tt_pageStyleClass="Numeric NumbersOnly" tt_onLoad="showCategory2('Obstetric history');submitButton();" />

     

      </form>

   </div>
 </div>
</body>


<script>
    var patientID = sessionStorage.getItem("patientID");
    var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
    var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;

  function changeNextButton() {
      var nextButton =  document.getElementById('nextButton');
      nextButton.setAttribute("onmousedown","postPatientHistory();")
  }

  function postPatientHistory() {
    var currentTime = moment().format(' HH:mm:ss');
        var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
        encounter_datetime += currentTime;

        var encounter = {
          encounter_type_name: 'OBSTETRIC HISTORY',
            encounter_type_id:  82,
            patient_id: sessionStorage.patientID,
            encounter_datetime: encounter_datetime
        };

        submitParameters(encounter, "/encounters", "postPatientHistoryObs");
  }

  function postPatientHistoryObs(encounter) {

      var gravida = document.getElementById('gravida').value;
      var multiple_pregnancy = document.getElementById('multiple_pregnancy').value;
      var num_of_deliveries = document.getElementById('num_of_deliveries').value;
      var num_of_abortions = document.getElementById('num_of_abortions').value;
      var delivery_mode = document.getElementById('delivery_mode').value;
      var ttv_status = document.getElementById('touchscreenInput' + tstCurrentPage).value;
      var menstruation_date = document.getElementById('menstruation_date').value;
      var conceptAnswers = [
  
          /*Multiple pregnancies*/
          {
              "yes": 1065,
              "no": 1066
          },
           /*Delivery mode*/
          {
            "spontaneous": 1170,
            "caesarean": 1171,
            "breech": 1172
          }
      ];

      var multiplePregnancyAnswer;
      var deliveryModeAnswer;

      switch (multiple_pregnancy.toUpperCase()) {
          case 'YES':
              multiplePregnancyAnswer = conceptAnswers[0].yes;
              break;
          case 'NO':
              multiplePregnancyAnswer = conceptAnswers[0].no;
              break;
          default:
              break;
      }
      switch (delivery_mode.toUpperCase()) {
          case 'SPONTANEOUS DELIVERY':
            deliveryModeAnswer = conceptAnswers[1].spontaneous;
              break;
          case 'CAESAREAN SECTION':
            deliveryModeAnswer = conceptAnswers[1].caesarean;
              break;
          case 'BREECH DELIVERY':
            deliveryModeAnswer = conceptAnswers[1].breech;
              break;
          default:
              break;
      }
      var obs = {
          encounter_id: encounter["encounter_id"],
          observations: [
              { concept_id: 7142, value_coded: multiplePregnancyAnswer }, 
              { concept_id: 1755, value_text: gravida },
              { concept_id: 1053, value_numeric: num_of_deliveries },
              { concept_id: 7942, value_numeric: num_of_abortions }, 
              { concept_id: 7438, value_coded: deliveryModeAnswer },
              { concept_id: 7124, value_numeric: ttv_status } 
              
             ]
      };
      if(menstruation_date !== '') {
            var menstruationDay = menstruation_date.split('-')[0];
            var menstruationMonth = menstruation_date.split('-')[1];
            var menstruationYear = menstruation_date.split('-')[2];

            var menstruationDates = menstruationYear + "-" + menstruationMonth + "-" + menstruationDay;

            obs.observations.push({ concept_id: 968, value_datetime: menstruationDates }); 
        }
      submitParameters(obs, "/observations", "nextPage")
  }

  function nextPage(){
     nextEncounter(sessionStorage.patientID, sessionStorage.programID);
  }
</script>
