
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<style>
.inputFrameClass {
  width: 96% !important;
}
</style>

<body id="mateme">
  <div id="container">
    <div id="content">


         <form>
     
          <select id="baby_condition" name="baby_condition" helpText="Baby: Condition at admission" tt_onLoad="changeButtonDead();" > 
            <option></option>
            <option>Stable</option>
            <option >Critical</option>
            <option>Dead</option>
          </select>

          <input type="text" name="baby_temperature"
          id="baby_temperature" helpText="Baby: Temperature"  min="20" max ="45"
          field_type="number" tt_onLoad="checkDead();" tt_pageStyleClass="Numeric NumbersWithUnknownAndDecimal" 
          condition = "__$('baby_condition').value != 'Dead'"/>


          <input type="text" name="baby_respiratory_rate"
           id="baby_respiratory_rate" helpText="Baby: Respiratory rate"  min="0" max ="80"
           field_type="number" tt_onLoad="" tt_pageStyleClass="Numeric NumbersWithUnknownAndDecimal" 
           condition = "__$('baby_condition').value != 'Dead'"/>
          

          <input type="text" name="baby_heart_rate" id="baby_heart_rate" helpText="Baby: Heart rate"
           field_type="number" tt_onLoad="" tt_pageStyleClass="Numeric NumbersWithUnknownAndDecimal" min ="0"  max="200"
           condition = "__$('baby_condition').value != 'Dead'"/>

          <input type="text" name="baby_weight" id="baby_weight" 
          helpText="Baby: Weight(Kg)" field_type="number" tt_onLoad="" min="2.5" max="5" validationMessage = "You must enter a decimal between 0 and 9 (for example: 2<b>.6</b>)"
          absoluteMax= "10"
          tt_pageStyleClass="Numeric NumbersWithUnknownAndDecimal"  condition = "__$('baby_condition').value != 'Dead'"/>

          <select id="baby_abdomen" name="baby_abdomen" tt_onLoad="changeNextBTN();" helpText="Baby: Abdomen"
          condition = "__$('baby_condition').value != 'Dead'"> 
            <option></option>   
            <option>Distended</option>
            <option>Soft</option>
           </select>

           <select id="baby_cord_tied" name="baby_cord_tied" tt_onLoad="changeNextBTN();" helpText="Baby: Cord tied"
           condition = "__$('baby_condition').value != 'Dead'"> 
            <option></option>
            <option>Yes</option>
            <option>No</option>
          </select>

          <select id="baby_cord_clean" name="baby_cord_clean" helpText="Baby: Cord clean"
          condition = "__$('baby_condition').value != 'Dead'"> 
            <option></option>
            <option>Yes</option>
            <option>No</option>
          </select>

          <select id="baby_abnormals" name="baby_abnormals" helpText="Baby: abnormalities"
          condition = "__$('baby_condition').value != 'Dead'" tt_onLoad="changeButtonNo();"> 
            <option></option>
            <option>Yes</option>
            <option>No</option>
          </select>

          <input name="baby_abnormalities" 
          id="baby_abnormalities" field_type="alpha" 
          helpText="Specify any abnormalities" 
          condition = "__$('baby_condition').value != 'Dead' && __$('baby_abnormals').value == 'Yes'" tt_onLoad="changeNextButton();"/> 

      </form>

   </div>
 </div>
</body>


<script>
    var patientID = sessionStorage.getItem("patientID");
    var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
    var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;

     var abnormalities;
      function changeButtonDead(){
        var nextButton =  document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown","postDeadCondition();");
      }

      function changeButtonNo(){
        var nextButton =  document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown","postNoCondition();");
      }
      

      function changeNextButton() {
            var nextButton =  document.getElementById('nextButton');
           nextButton.setAttribute("onmousedown","postPhysicalExam();");
          
       
      }

      function postDeadCondition(){
        condition = document.getElementById('touchscreenInput'+tstCurrentPage).value;

        if (condition === 'Dead') {
            var currentTime = moment().format(' HH:mm:ss');
            var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
            encounter_datetime += currentTime;

            var encounter = {
                encounter_type_name: 'PMTCT HISTORY',
                encounter_type_id:  129,
                patient_id: sessionStorage.patientID,
                encounter_datetime: encounter_datetime
            };

            submitParameters(encounter, "/encounters", "postPhysicalExamObs");

        } else {
            gotoNextPage();
        }
      }
      function postNoCondition(){
        babyAbnormals = document.getElementById('touchscreenInput'+tstCurrentPage).value;

        if (babyAbnormals === 'No') {
            var currentTime = moment().format(' HH:mm:ss');
            var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
            encounter_datetime += currentTime;

            var encounter = {
                encounter_type_name: 'PMTCT HISTORY',
                encounter_type_id:  129,
                patient_id: sessionStorage.patientID,
                encounter_datetime: encounter_datetime
            };

            submitParameters(encounter, "/encounters", "postPhysicalExamObs");

        } else {
            gotoNextPage();
        }
      }

      function postPhysicalExam() {
          var currentTime = moment().format(' HH:mm:ss');
          var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
          encounter_datetime += currentTime;

          var encounter = {
                encounter_type_name: 'PHYSICAL EXAMINATION BABY',
                encounter_type_id:  117,
                patient_id: sessionStorage.patientID,
                encounter_datetime: encounter_datetime
          };
           abnormalities = document.getElementById('touchscreenInput' + tstCurrentPage).value;

          submitParameters(encounter, "/encounters", "postPhysicalExamObs");
      }

      function postPhysicalExamObs(encounter) {
        var condition = document.getElementById('baby_condition').value;
        var temperature = document.getElementById('baby_temperature').value;
        var respiratory = document.getElementById('baby_respiratory_rate').value;
        var heart = document.getElementById('baby_heart_rate').value;
        var weight = document.getElementById('baby_weight').value;
        var abdomen = document.getElementById('baby_abdomen').value;
        var cordTied = document.getElementById('baby_cord_tied').value;
        var cordClean = document.getElementById('baby_cord_clean').value;
        var abnormals = document.getElementById('baby_abnormals').value;

    var conceptAnswers = [

        /*Condition*/
        {
            "stable": 9723,
            "critical": 9724,
            "dead": 6540
        },
        /*Baby abdomen*/
        {
          "distended": 9725,
          "soft": 3243
        },
        /*Baby tied*/
          {
            "yes": 1065,
            "no": 1066  },
        /*Baby clean*/
          {
            "yes": 1065,
            "no": 1066
        },
        /*Baby abnormals*/
          {
            "yes": 1065,
            "no": 1066
        }
    ];

    var conditionAnswer;
    var abdomenAnswer;
    var tiedAnswer;
    var cleanAnswer;
    var abnormalsAnswer;

    switch (condition.toUpperCase()) {
        case 'STABLE':
            conditionAnswer = conceptAnswers[0].stable;
            break;
        case 'CRITICAL':
            conditionAnswer = conceptAnswers[0].critical;
            break;
        case 'DEAD':
            conditionAnswer = conceptAnswers[0].dead;
        break;
        default:
            break;
    }
    switch (abdomen.toUpperCase()) {
        case 'DISTENDED':
          abdomenAnswer = conceptAnswers[1].distended;
            break;
        case 'SOFT':
            abdomenAnswer = conceptAnswers[1].soft;
            break;
        default:
            break;
    }
    switch (cordTied.toUpperCase()) {
        case 'YES':
            tiedAnswer = conceptAnswers[2].yes;
            break;
        case 'NO':
            tiedAnswer = conceptAnswers[2].no;
            break;
        default:
            break;
      }
    switch (cordClean.toUpperCase()) {
      case 'YES':
          cleanAnswer = conceptAnswers[3].yes;
          break;
      case 'NO':
          cleanAnswer = conceptAnswers[3].no;
          break;
      default:
          break;
    }
    switch (abnormals.toUpperCase()) {
      case 'YES':
          abnormalsAnswer = conceptAnswers[4].yes;
          break;
      case 'NO':
          abnormalsAnswer = conceptAnswers[4].no;
          break;
      default:
          break;
    }
    var obs = {
        encounter_id: encounter["encounter_id"],
        observations: [
            { concept_id: 8399, value_coded: conditionAnswer } //saving
              ]
    };
    console.log("abnormalities are "+abnormalities);
        if(temperature !== '') {
            obs.observations.push( { concept_id: 5088, value_numeric: temperature } ); //saving
        }
        if(respiratory !== '') {
            obs.observations.push(  { concept_id: 5242, value_numeric: respiratory } ); //saving
        }
        if(heart !== '') {
            obs.observations.push(   { concept_id: 5087, value_numeric: heart } ); //saving
        }
        if(weight !== '') {
            obs.observations.push( { concept_id: 8876, value_numeric: weight } ); //saving
        }
        if(abdomen !== '') {
            obs.observations.push( { concept_id: 8400, value_coded: abdomenAnswer } ); //saving
        }
        if(cordTied !== '') {
            obs.observations.push(  { concept_id: 8405, value_coded: tiedAnswer } ); //saving
        }
        if(cordClean !== '') {
            obs.observations.push(  { concept_id: 8406, value_coded: cleanAnswer } ); //saving
        }
        if(abnormals !== '') {
            obs.observations.push(  { concept_id: 1116, value_coded: abnormalsAnswer } ); //saving
        }
        if(abnormalities !== '') {
            obs.observations.push(  { concept_id: 8404, value_text: abnormalities } ); 
        }
        submitParameters(obs, "/observations", "nextPage")
    }

    function nextPage(){
      window.location.href = "/views/patient_dashboard.html?patient_id=" + patientID;

    }
</script>
