
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!--script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script-->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<!-- -->
<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<script type="text/javascript" src="/apps/MATERNITY/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>

    .inputFrameClass {
        width: 96% !important;
    }
</style>

<body id="mateme">
<div id="container">
    <div id="content">

        <form>
            <select id="hiv_status_value" name="hiv_status" helpText="HIV Status" tt_onLoad="changeNextButtonUnknownHIV();showCategory2('PMTCT');" >
                <option></option>
                <option>Non-Reactive</option>
                <option>Reactive</option>
                <option>Unknown</option>
            </select>

            <input type="text" name="pmtct_test_date" id="pmtct_test_date" helpText="HIV test date" field_type="date"
                   tt_pageStyleClass="date" condition ="$('hiv_status_value').value.toLowerCase() != 'unknown';" tt_onLoad="showCategory2('PMTCT');changeNextButtonNonReactiveHIV();"/>

            <select id="pmtct_on_arvs" name="pmtct_on_arvs" helpText="On ARVs"
                    condition = "$('hiv_status_value').value.trim().toUpperCase() == 'REACTIVE';" tt_onLoad="showCategory2('PMTCT');">
                <option></option>
                <option>Yes</option>
                <option>No</option>
            </select>

            <input type="text" name="period_on_arvs" id="period_on_arvs" helpText="Date Started ARVs (Estimate)"
                   field_type="date" tt_pageStyleClass="date"
                   condition ="$('pmtct_on_arvs').value.trim().toUpperCase() == 'YES';" tt_onLoad="showCategory2('PMTCT');"/>

            <select id="feeding_option" name="feeding_option" helpText="Feeding Option" condition = "$('hiv_status_value').value.trim().toUpperCase() == 'REACTIVE';" tt_onLoad="showCategory2('PMTCT');changeNextButton();">
                <option></option>
                <option>Exclusive Breast Feeding</option>
                <option>No Breast Feeding</option>
                <option>Exclusive Formula Feeding</option>
            </select>

        </form>

    </div>
</div>
</body>

<script>
    var patientID = sessionStorage.getItem("patientID");
    var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
    var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;

    var hivStatus = document.getElementById('hiv_status_value').value;
    var pmtctTestDate = document.getElementById('pmtct_test_date').value;
    var feedingOption = document.getElementById('feeding_option').value;

    function submitButton(){
    var nextButton = document.getElementById('nextButton');
    nextButton.onmousedown = function(){
      validateDate();
      }
     }

    function validateDate(){
        var testDate = $('touchscreenInput'+tstCurrentPage).value;
        var testDay = testDate.split('-')[0];
        var testMonth = testDate.split('-')[1];
        var testYear = testDate.split('-')[2];
        var testDateValue = testYear + '-' + testMonth + '-' + testDay;
        var DOB = sessionStorage.patientDOB;
        var dobDay = DOB.split('/')[0];
        var dobMonth = DOB.split('/')[1];
        var dobYear = DOB.split('/')[2];
        var mon = "JanFebMarAprMayJunJulAugSepOctNovDec".indexOf(dobMonth) / 3 + 1;
        var dobValue = dobYear + "-" + 0+ mon + "-" + dobDay;
        var dateOfBirth = new Date(dobValue);
        var dateOfTest = new Date(testDateValue);
        if (dateOfTest < dateOfBirth){
            showMessage("Date must be greater than birth date");
        }
        
        if(testYear < 1985){
            showMessage("Year not valid");
        }else{
            postPMTCTNonReactiveHIV();
        }
    }


    function changeNextButtonUnknownHIV() {
        var nextButton =  document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown","postPMTCTunknownHIV();");
    }

    function changeNextButtonNonReactiveHIV() {
        var nextButton =  document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown","validateDate();");
    }

    function changeNextButton() {
        var nextButton =  document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown","postPMTCT();");
    }

    function postPMTCTunknownHIV() {
        hivStatus = document.getElementById('touchscreenInput'+tstCurrentPage).value;

        if (hivStatus === 'Unknown') {
            var currentTime = moment().format(' HH:mm:ss');
            var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
            encounter_datetime += currentTime;

            var encounter = {
                encounter_type_name: 'PMTCT HISTORY',
                encounter_type_id:  129,
                patient_id: sessionStorage.patientID,
                encounter_datetime: encounter_datetime
            };

            submitParameters(encounter, "/encounters", "postPmtctObs");

        } else {
            gotoNextPage();
        }
    }

    function postPMTCTNonReactiveHIV() {
        pmtctTestDate = document.getElementById('touchscreenInput' + tstCurrentPage).value;

        if (hivStatus === 'Non-Reactive') {
            var currentTime = moment().format(' HH:mm:ss');
            var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
            encounter_datetime += currentTime;

            var encounter = {
                encounter_type_name: 'PMTCT HISTORY',
                encounter_type_id:  129,
                patient_id: sessionStorage.patientID,
                encounter_datetime: encounter_datetime
            };

            submitParameters(encounter, "/encounters", "postPmtctObs");

        } else {
            gotoNextPage();
        }
    }

    function postPMTCT() {
        feedingOption = document.getElementById('touchscreenInput' + tstCurrentPage).value;

        var currentTime = moment().format(' HH:mm:ss');
        var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
        encounter_datetime += currentTime;

        var encounter = {
            encounter_type_name: 'PMTCT HISTORY',
            encounter_type_id:  129,
            patient_id: sessionStorage.patientID,
            encounter_datetime: encounter_datetime
        };

        submitParameters(encounter, "/encounters", "postPmtctObs");
    }

    function postPmtctObs(encounter) {


        var pmtctOnArvs = document.getElementById('pmtct_on_arvs').value;
        var periodOnArvs = document.getElementById('period_on_arvs').value;

        var conceptAnswers = [
            // Hiv Status
            {
                "reactive": 1228,
                "nonReactive": 1229,
                "unknown": 1067
            },
            // PMTCT on ARVs
            {
                "yes": 1065,
                "no": 1066
            },
            // Feeding option
            {
                "exclusiveBreastFeeding": 5526,
                "noBreastFeeding": 1107,
                "exclusiveFormulaFeeding": 5254
            }
        ];

        var hivStatusAnswer;
        var pmtctOnArvsAnswer;
        var feedingOptionAnswer;

        switch(hivStatus.toUpperCase()) {
            case 'REACTIVE':
                hivStatusAnswer = conceptAnswers[0].reactive;
                break;
            case 'NON-REACTIVE':
                hivStatusAnswer = conceptAnswers[0].nonReactive;
                break;
            case 'UNKNOWN':
                hivStatusAnswer = conceptAnswers[0].unknown;
                break;
        }

        switch(pmtctOnArvs.toUpperCase()) {
            case 'YES':
                pmtctOnArvsAnswer = conceptAnswers[1].yes;
                break;
            case 'NO':
                pmtctOnArvsAnswer = conceptAnswers[1].no;
                break;
            default:
                break;
        }

        switch (feedingOption.toUpperCase()) {
            case 'EXCLUSIVE BREAST FEEDING':
                feedingOptionAnswer = conceptAnswers[2].exclusiveBreastFeeding;
                break;
            case 'NO BREAST FEEDING':
                feedingOptionAnswer = conceptAnswers[2].noBreastFeeding;
                break;
            case 'EXCLUSIVE FORMULA FEEDING':
                feedingOptionAnswer = conceptAnswers[2].exclusiveFormulaFeeding;
                break;
            default:
                break;
        }

        var obs = {
            encounter_id: encounter["encounter_id"],
            observations: [
                { concept_id: 3753, value_coded: hivStatusAnswer } // hiv status
            ]
        };

        if(pmtctTestDate !== '') {
            var pmtctTestDay = pmtctTestDate.split('-')[0];
            var pmtctTestMonth = pmtctTestDate.split('-')[1];
            var pmtctTestYear = pmtctTestDate.split('-')[2];

            var pmtctTestDates = pmtctTestYear + "-" + pmtctTestMonth + "-" + pmtctTestDay;

            obs.observations.push({ concept_id: 1837, value_datetime: pmtctTestDates }); // pmtct test date
        }
        if(pmtctOnArvs !== '') {
            obs.observations.push({ concept_id: 1577, value_coded: pmtctOnArvsAnswer }); // pmtct on arvs
        }
        if(periodOnArvs !== '') {
            var periodOnArvsDay = periodOnArvs.split('-')[0];
            var periodOnArvsMonth = periodOnArvs.split('-')[1];
            var periodOnArvsYear = periodOnArvs.split('-')[2];

            var periodOnArvsDate = periodOnArvsYear + "-" + periodOnArvsMonth + "-" + periodOnArvsDay;

            obs.observations.push({ concept_id: 5869, value_datetime: periodOnArvsDate }); // period on arvs
        }
        if(feedingOption !== '') {
            obs.observations.push({ concept_id: 1151, value_coded: feedingOptionAnswer }); // feeding option
        }

        submitParameters(obs, "/observations", "nextPage")
    }

    function nextPage(){
        nextEncounter(sessionStorage.patientID, sessionStorage.programID);
    }
</script>
