
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>

.inputFrameClass {
  width: 96% !important;
}
</style>

<body id="mateme">
  <div id="container">
    <div id="content">


         <form>
            <select id="blood_loss" name="blood_loss" tt_onLoad="changeNextBTN();" helpText="Blood Loss"> 
            <option>Active bleeding</option>
            <option>No active bleeding</option>
            <option>Lochia</option>
          </select>

           <select id="tear" name="tear" tt_onLoad="changeNextBTN();" helpText="Tear"> 
            <option>Yes</option>
            <option>No</option>
          </select>

          <select id="third_stage" name="third_stage" tt_onLoad="changeNextButton();" helpText="Third Stage"> 
            <option>Complete</option>
            <option>Incomplete</option>
          </select>
      </form>

   </div>
 </div>
</body>

<script>
    var patientID = sessionStorage.getItem("patientID");
    var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
    var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;



     function changeNextButton() {
         var nextButton =  document.getElementById('nextButton');
          nextButton.setAttribute("onmousedown","postPhysicalExam();")
         
     }
     function postPhysicalExam() {
         var currentTime = moment().format(' HH:mm:ss');
         var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
         encounter_datetime += currentTime;

         var encounter = {
               encounter_type_name: 'PHYSICAL EXAMINATION BABY',
               encounter_type_id:  117,
               patient_id: sessionStorage.patientID,
               encounter_datetime: encounter_datetime
         };

         submitParameters(encounter, "/encounters", "postPhysicalExamObs");
     }

     function postPhysicalExamObs(encounter) {
       var bloodLoss = document.getElementById('blood_loss').value;
       var tear = document.getElementById('tear').value;
       var thirdStage = document.getElementById('touchscreenInput' + tstCurrentPage).value;

   var conceptAnswers = [

       /*Blood loss*/
       {
           "activeBleeding": 8591,
           "noActiveBleeding": 9727,
           "lochia": 9728
       },
      /*tear*/
      {
            "yes": 1065,
            "no": 1066  },
       /*Third stage*/
         {
           "complete": 1267,
           "incomplete": 9729  }
   ];

   var bloodLossAnswer;
   var tearAnswer;
   var thirdStageAnswer;


   switch (bloodLoss.toUpperCase()) {
       case 'ACTIVE BLEEDING':
           bloodLossAnswer = conceptAnswers[0].activeBleeding;
           break;
       case 'NO ACTIVE BLEEDING':
           bloodLossAnswer = conceptAnswers[0].noActiveBleeding;
           break;
       case 'LOCHIA':
           bloodLossAnswer = conceptAnswers[0].lochia;
       break;
       default:
           break;
   }
   switch (tear.toUpperCase()) {
    case 'YES':
           tearAnswer = conceptAnswers[1].yes;
           break;
       case 'NO':
           tearAnswer = conceptAnswers[1].no;
           break;
           default:
         break;
   } 
   switch (thirdStage.toUpperCase()) {
     case 'COMPLETE':
         thirdStageAnswer = conceptAnswers[2].complete;
         break;
     case 'INCOMPLETE':
         thirdStageAnswer = conceptAnswers[2].incomplete;
         break;
     default:
         break;
   }
   var obs = {
       encounter_id: encounter["encounter_id"],
       observations: [
           { concept_id: 7582, value_coded:  bloodLossAnswer },
           { concept_id: 9060, value_coded: tearAnswer },
           { concept_id: 8393, value_coded: thirdStageAnswer }
             ]
   };

       submitParameters(obs, "/observations", "nextPage")
   }

   function nextPage(){
    window.location.href = "/views/patient_dashboard.html?patient_id=" + patientID;

   }
</script>
