<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<script type="text/javascript" src="/apps/MATERNITY/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/core.js"></script>
 <style>

 .inputFrameClass {
        width: 96% !important;
    }

</style> 

<body id="mateme">
<div id="container">
    <div id="content">
        <style>
        .tt_controls_next_of_kin_first_name #date, #star, #slash, #minus, #plus, #percent, #decimal, #comma { display: none; }

        .tt_controls_next_of_kin_last_name #date, #star, #slash, #minus, #plus, #percent, #decimal, #comma { display: none; }

        </style>

<script type="text/javascript">
    var tt_cancel_destination = "/";

    function validateName() {
    __$("nextButton").removeAttribute("onmousedown");
    __$("nextButton").onmousedown = function(){

        validRegEx = /^(?=.{2,100}$)[a-z\!\A-Z]+(?:['_.\-\!\][a-z]+[a-z\!\A-Z])*$/
        value = $('touchscreenInput' + tstCurrentPage).value;
       if(value.match(validRegEx) == null) {
         showMessage("Invalid name input");
       }else if (value.match(validRegEx) != null) {
        gotoNextPage();
       }
      }
    }

</script>

        <form>
            <select id="education" name="education" helpText="Education Level" tt_onLoad="showCategory2('Social history');">
                <option></option>
                <option>Primary</option>
                <option>Secondary</option>
                <option>Tertiary</option>
                <option>None</option>
                <option>Other</option>
            </select>

            <select helpText="Religion" name="religion" id="religion" tt_pageStyleClass="NoKeyboard" tt_onLoad="showCategory2('Social history');">
                <option></option>
                <option>Catholic</option>
                <option>CCAP</option>
                <option>SDA</option>
                <option>Anglican</option>
                <option>Muslim</option>
                <option>Pentecostalism</option>
                <option>Jehovah witness</option>
                <option>Other</option>
            </select>

            <input type="text" name="given_name"
                   id="given_name" field_type="alpha"
                   key="given_name" helpText="Next of kin first name" tt_onLoad="validateName();showCategory2('Social history');"
                   ajaxURL="/search/given_name?search_string=" allowFreeText="true" />

            <input type="text" name="family_name"
                   id="family_name" key="family_name" field_type="alpha"
                   helpText="Next of kin Last name" 
                   tt_onLoad="validateName();showCategory2('Social history');"
                   ajaxURL="/search/family_name?search_string="
                   allowFreeText="true"  />

            <input type="text" name="kin_number" id="kin_number"
                   helpText="Next of kin phone number" validationRule="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$|Unknown|Not Available|N\/A"
                   validationMessage="Not a valid phone number" tt_onLoad="showCategory2('Social history');" field_type="number" tt_pageStyleClass="NumbersWithUnknownAndDecimal" />

            <select id="relative" name="relative" tt_onLoad="changeNextButton();showCategory2('Social history');" helpText="Next of kin relationship type" tt_pageStyleClass="NoKeyboard">
                <option>Mother</option>
                <option>Daughter</option>
                <option>Sister</option>
                <option>Friend</option>
                <option>Aunt</option>
                <option>Unknown</option>
                <option>Other</option>
            </select>

        </form>

    </div>
</div>
</body>

<script>
    var patientID = sessionStorage.getItem("patientID");
    var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
    var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;



    function changeNextButton() {
        var nextButton =  document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown","postSocialHistory();")
    }

    function postSocialHistory() {
        var currentTime = moment().format(' HH:mm:ss');
        var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
        encounter_datetime += currentTime;

        var encounter = {
            encounter_type_name: 'SOCIAL HISTORY',
            encounter_type_id:  84,
            patient_id: sessionStorage.patientID,
            encounter_datetime: encounter_datetime
        };

        submitParameters(encounter, "/encounters", "postSocialHistoryObs");
    }

    function postSocialHistoryObs(encounter) {

        var educationLevel = document.getElementById('education').value;
        var religion = document.getElementById('religion').value;
        var kinNumber = document.getElementById('kin_number').value;
        var relative = document.getElementById('relative').value;
        var nextOfKinFirstName = document.getElementById('given_name').value;
        var nextOfKinLastName = document.getElementById('family_name').value;

        var conceptAnswers = [
            /*Education Level*/
            {
                "primaryEducation": 8697,
                "secondaryEducation": 8698,
                "tertiaryEducation": 8699,
                "none": 1107,
                "other": 6408
            },
            /*Relative*/
            {
                "mother": 2175,
                // "daughter", missing
                //aunt missing
                "friend": 5618,
                "sister": 2177,
                "unknown": 1067,
                "other": 6408
            }
        ];

        var educationLevelAnswer;
        var relativeAnswer;

        switch (educationLevel.toUpperCase()) {
            case 'PRIMARY':
                educationLevelAnswer = conceptAnswers[0].primaryEducation;
                break;
            case 'SECONDARY':
                educationLevelAnswer = conceptAnswers[0].secondaryEducation;
                break;
            case 'TERTIARY':
                educationLevelAnswer = conceptAnswers[0].tertiaryEducation;
                break;
            case 'NONE':
                educationLevelAnswer = conceptAnswers[0].none;
                break;
            case 'OTHER':
                educationLevelAnswer = conceptAnswers[0].other;
                break;
            default:
                break;
        }
        switch (relative.toUpperCase()) {
            case 'MOTHER':
                relativeAnswer = conceptAnswers[1].mother;
                break;
            case 'SISTER':
                relativeAnswer = conceptAnswers[1].sister;
                break;
            case 'AUNT':
                relativeAnswer = conceptAnswers[1].aunt;
                break;
            case 'FRIEND':
                relativeAnswer = conceptAnswers[1].friend;
                break;
            case 'OTHER':
                relativeAnswer = conceptAnswers[1].other;
                break;
            case 'UNKNOWN':
                relativeAnswer = conceptAnswers[1].unknown;
                break;
            default:
                break;
        }
        var obs = {
            encounter_id: encounter["encounter_id"],
            observations: [
                { concept_id: 8696, value_coded: educationLevelAnswer }, // saving
                { concept_id: 8366, value_text: religion },
                { concept_id: 2616, value_numeric: kinNumber },
                { concept_id: 2172, value_coded: relativeAnswer }, // saving
                { concept_id: 2927, value_text: nextOfKinFirstName },
                { concept_id: 2928, value_text: nextOfKinLastName }
            ]
        };

        submitParameters(obs, "/observations", "nextPage")
    }

    function nextPage(){
        nextEncounter(sessionStorage.patientID, sessionStorage.programID);
    }
</script>

