<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>

    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
    <script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/apps/HTS/assets/js/referral.js"></script>
    <script type="text/javascript" src="/apps/HTS/assets/js/backdata2.js"></script>
    
    <link rel="stylesheet" type="text/css" href="../../../../assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../../../assets/css/datatables/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../assets/css/datatables/fixedHeader.dataTables.min.css">
    <link rel="stylesheet" href="/assets/css/maindashboard/footer.css">
    <link rel="stylesheet" href="/apps/HTS/assets/css/backdata.css" type="text/css">
    <link rel="stylesheet" href="/apps/HTS/assets/css/referral.css" type="text/css">
    
    <script src="/assets/js/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/js/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="/assets/js/datatables/datatables.js"></script>
    <script type="text/javascript" src="/apps/HTS/assets/js/user_stats.js"></script>

    <style type="text/css">
    body{
        font-size: 19px;
    }
    .regularCell {
        border: 1px solid #333333;
        min-width: 30px;
        font-style: italic;
    }

    .boldCell {
        border: 2px solid #333333;
        min-width: 30px;
        font-style: italic;
    }
    .header {
        vertical-align: bottom;
    }
    .bold {
    font-weight: bold;
    color: #000;
}

    #save {
    min-width: 140px;
  }
  .sectionHeader {
    background-color: #0065fd;
    color: #fff;
    font-weight: 700;
    padding: 5px;
    font-size: 14px;
}
    </style>
      </head>

<body id="mateme" >
    <div id="container">
         <div class="panel panel-default" style="border-color:#fff;">
                <div class="panel-heading" style="margin-left: 0.9%;margin-right: 0.9%; background-color: #fff;"><h2 style="color:#000000;text-align: center; font-weight: 800;">User Statistics<br></h2>
                </div>
            <div>
        <div class="panel-body">
  
            <div id="root" style="margin:0;padding:0">
                <div>
                    <div class="sectionHeader">Show user stats</div>
                    <div style="border-bottom: 1px solid rgb(0, 101, 253); height: 2px; border:0;"></div>
                    <div id="reportScroller" style="overflow: auto; padding: 20px; height: calc(100vh - 122px);">
                        <div style="padding: 5px;">
                            <table  style="border-collapse: collapse; width: 100%; border-color: rgb(204, 204, 204);" cellpadding="10" border="1">
                                <tbody id="user_stats">
                                    <tr style="background-color: rgb(204, 204, 204); color: rgb(51, 51, 51); border: 1px solid rgb(238, 238, 238);">
                                        <th width="200px">Date</th>
                                        <th width="200px">First Name</th>
                                        <th width="200px">Last Name</th>
                                        <th width="200px">User</th>
                                        <th width="200px">Total</th>
                                        <th style="text-align:left;">Location</th>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="overflow: auto; height: calc(-305px + 100vh);">
                                <table style="border-collapse: collapse; width: 100%; border-color: rgb(204, 204, 204);" cellpadding="10" border="1">
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div style="position: absolute; bottom: 90px; text-align: center; width: calc(100% - 10px); left: 5px;">
                            <div>

                        </div>
                    </div>
                </div>
                </div>

                </div>
            </div>
        </div>
        </div>

</body>
</div>
<footer class="footer">
        <div class="container-footer">
                <button id="btnNext" class="green right" style="margin: 5px 0px 0px; padding: 0px; float: right;" onclick="location='/';">
                    <span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Finish &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</span>
                </button>
                <button id="save" class="blue right" onclick="location='/';" style="margin-right: 10px;">
                    <span>Back</span>
                  </button>
            </div>
</footer>
</html>



<script src="../../../../assets/js/jquery.min.js"></script>
<script src="../../../../assets/js/bootstrap/bootstrap.min.js"></script>
<script src="../../../../assets/js/datatables/jquery.dataTables.min.js"></script>
<script src="../../../../assets/js/datatables/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript">
  $('#shiftTable').DataTable( {
        fixedHeader: true,
        searching: false,
        ordering: false,
        paging: false,
       "bInfo" : false,

} );
</script>


</tr>
<tr>
