
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!--script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script-->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>

.inputFrameClass {
  width: 96% !important;
}

#clearButton {
  display: none;
}

</style>

<script>
    var patientID = sessionStorage.getItem("patientID");
    var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
    var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;

</script>

<body id="mateme">
  <div id="container">
    <div id="content">


      <form>

        <select id="discharge_outcome" name="discharge_outcome" helpText="Outcome">
            <option></option>
            <option>Admitted</option>
            <option>Absconded</option>
            <option>Delivered</option>
            <option>Discharged</option>
            <option>Patient died</option>
        </select>


        <!-- Discharged -->
        <select id="discharged_to_where" name="discharged_to_where" helpText="Discharged to Where?"
          condition = "__$('discharge_outcome').value == 'Discharged'">
            <option></option>
            <option>Home- Waiting</option>
            <option>Another Health Facility</option>
        </select>

        <input type="text" name="health_facility" objectType="location"
        id="health_facility" field_type="alpha"
        key="health_facility" helpText="Which Health Facility"
        ajaxURL="/locations?name="
        key=health_facility" allowFreeText="true"
        condition = "__$('discharged_to_where').value == 'Another Health Facility'" />

        <input type="text" name="diagnosis" 
        id="diagnosis" field_type="text" 
        helpText="Select discharge diagnosis" 
        tt_pageStyleClass="n qwertyKeyboardOnly" 
        condition = "$('states').value. == '112' " /> 

        <!-- End discharged -->


        <!-- Admitted -->
        <select id="admission_section" name="admission_section" tt_onLoad="changeNextAdmitBTN();" 
        helpText="Select Admission section" condition ="$('discharge_outcome').value.toUpperCase() == 'ADMITTED'">
            <option></option>
            <option>Delivered in the ward</option>
            <option>Delivered before arrival</option>
            <option>Delivered in theatre</option>
            <option>Delivered in Antenatal ward</option>
        </select>
        <!-- End admitted -->

        <!-- Procedures -->
        <select id="procedure_done" name="procedure_done" tt_onLoad="changeNextBTN();" 
        helpText="1<sup>st</sup> Procedure done"  condition ="$('discharge_outcome').value.toUpperCase() == 'DELIVERED' || $('discharge_outcome').value.toUpperCase() == 'DISCHARGED'" >
            <option></option>
            <option>None</option>
            <option>Hysterectomy</option>
            <option>Myomectomy</option>
            <option>Bilateral tubal ligation</option>
            <option>Biopsy</option>
            <option>Ceclage</option>
            <option>Cystectomy</option>
            <option>Malsupilisation</option>
            <option>Excision</option>
            <option>Incision and drainage</option>
            <option>Caesarean Section</option>
            <option>Exam under anaesthesia</option>
            <option>Evacuation/Manual vacuum aspiration</option>
            <option>Dilation and curretage</option>
            <option>Explatory laparatomy +/- adnexectomy</option>
        </select>

        <input type="text" name="procedure_diagnosis" 
        id="procedure_diagnosis" field_type="alpha" 
        helpText="Reason for Procedure" 
        condition="$('procedure_done').value.toUpperCase() == 'HYSTERECTOMY'" /> 

         <input type="text" name="procedure_diagnosis1" 
        id="procedure_diagnosis1" field_type="alpha" 
        helpText="2nd Reason for Procedure" ajaxURL = "/encounters/procedure_diagnoses?procedure=biopsy&search_string="
        condition="$('procedure_done').value.toUpperCase() == 'BIOPSY DIAGNOSIS'" /> 

        <!-- <input type="text" name="procedure_diagnosis2" 
          id="procedure_diagnosis2" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=bilateral_tubal_ligation&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'BILATERAL TUBAL LIGATION'" /> 
        
          <input type="text" name="procedure_diagnosis3" 
          id="procedure_diagnosis3" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=ceclage&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'MYOMECTOMY'" /> 

          <input type="text" name="procedure_diagnosis4" 
          id="procedure_diagnosis4" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'CECLAGE'" /> 
        
          <input type="text" name="procedure_diagnosis5" 
          id="procedure_diagnosis5" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'CYSTECTOMY'" /> 

           <input type="text" name="procedure_diagnosis6" 
          id="procedure_diagnosis6" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'MARSUPILISATION'" />  

          <input type="text" name="procedure_diagnosis7" 
          id="procedure_diagnosis7" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'EXCISION'" /> 

           <input type="text" name="procedure_diagnosis7" 
          id="procedure_diagnosis7" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'INCISION AND DRAINAGE'" />  

          <input type="text" name="procedure_diagnosis8" 
          id="procedure_diagnosis8" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'CAESAREAN SECTION'" /> 

          <input type="text" name="procedure_diagnosis8" 
          id="procedure_diagnosis8" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'EXAM UNDER ANAESTHESIA'" />  -->

          <!-- <input type="text" name="procedure_diagnosis9" 
          id="procedure_diagnosis8" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'EVACUATION/MANUAL VACUUM ASPIRATION'" /> 

          <input type="text" name="procedure_diagnosis10" 
          id="procedure_diagnosis10" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'DILATION AND CURETTAGE'" /> 

          <input type="text" name="procedure_diagnosis11" 
          id="procedure_diagnosis11" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'EXPLORATORY LAPARATOMY ADNEXECTOMY'" /> 

          <input type="text" name="procedure_diagnosis11" 
          id="procedure_diagnosis11" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'LAPARATOMY DIAGNOSIS'" />   -->
          <!-- END PROCEDURES -->

          <!-- PATIENT DIED -->
        <input type="text" name="date_of_death" 
        id="date_of_death" field_type="date" 
        helpText="Date of Death" 
        tt_pageStyleClass="date" 
        condition = "$('discharge_outcome').value.toUpperCase() == 'PATIENT DIED'" /> 

        <input type="text" name="time_of_death" 
        id="time_of_death" field_type="advancedTime" 
        helpText="Time of Death" 
        condition = "$('discharge_outcome').value.toUpperCase() == 'PATIENT DIED'" /> 

        <select id="place_of_death" name="place_of_death" tt_onLoad="changeNextBTN();"
        helpText="Place of Death" condition = "$('discharge_outcome').value.toUpperCase() == 'PATIENT DIED'"> 
            <option></option>
            <option>Home</option>
            <option>Current Facility</option>
            <option>On the Way</option>
            <option>Other</option>
        </select>

        <input type="text" name="reason_of_death" 
        id="reason_of_death" field_type="text" 
        helpText="Select Reason of Death" 
        tt_pageStyleClass="date" 
        condition = "$('discharge_outcome').value.toUpperCase() == 'PATIENT DIED'" /> 

        <select id="condition_at_death" name="condition_at_death" tt_onLoad="changeNextBTN();"
        helpText="Condition at Death" condition = "$('discharge_outcome').value.toUpperCase() == 'PATIENT DIED'"> 
            <option></option>
            <option>Antenatal</option>
            <option>Postpartum</option>
            <option>Intrapartum</option>
        </select>

     <!-- End patient died -->




      </form>


   </div>
 </div>
</body>

<script>
        var patientID = sessionStorage.getItem("patientID");
        var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
        var tt_cancel_destination = "../antenatal.html?patient_id=" + patientID;
    
        var dischargeOutcome = document.getElementById('discharge_outcome').value;

    
        function changeNextAdmitBTN() {
            var nextButton =  document.getElementById('nextButton');
            nextButton.setAttribute("onmousedown","postAdmitOutcome();");
        }
    

    
        function postAdmitOutcome() {
        
                var currentTime = moment().format(' HH:mm:ss');
                var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
                encounter_datetime += currentTime;
    
                var encounter = {
                    encounter_type_name: 'UPDATE OUTCOME',
                    encounter_type_id:  40,
                    patient_id: sessionStorage.patientID,
                    encounter_datetime: encounter_datetime
                };
    
                submitParameters(encounter, "/encounters", "postUpdateOutcomeObs");
        }
    

    
        function postUpdateOutcomeObs(encounter) {
    
            console.log("I get here");
            // var pmtctOnArvs = document.getElementById('pmtct_on_arvs').value;
            // var periodOnArvs = document.getElementById('period_on_arvs').value;
    
            // var conceptAnswers = [
            //     // Hiv Status
            //     {
            //         "reactive": 1228,
            //         "nonReactive": 1229,
            //         "unknown": 1067
            //     },
            //     // PMTCT on ARVs
            //     {
            //         "yes": 1065,
            //         "no": 1066
            //     },
            //     // Feeding option
            //     {
            //         "exclusiveBreastFeeding": 5526,
            //         "noBreastFeeding": 1107,
            //         "exclusiveFormulaFeeding": 5254
            //     }
            // ];
    
            // var hivStatusAnswer;
            // var pmtctOnArvsAnswer;
            // var feedingOptionAnswer;
    
            // switch(hivStatus.toUpperCase()) {
            //     case 'REACTIVE':
            //         hivStatusAnswer = conceptAnswers[0].reactive;
            //         break;
            //     case 'NON-REACTIVE':
            //         hivStatusAnswer = conceptAnswers[0].nonReactive;
            //         break;
            //     case 'UNKNOWN':
            //         hivStatusAnswer = conceptAnswers[0].unknown;
            //         break;
            // }
    
            // switch(pmtctOnArvs.toUpperCase()) {
            //     case 'YES':
            //         pmtctOnArvsAnswer = conceptAnswers[1].yes;
            //         break;
            //     case 'NO':
            //         pmtctOnArvsAnswer = conceptAnswers[1].no;
            //         break;
            //     default:
            //         break;
            // }
    
            // switch (feedingOption.toUpperCase()) {
            //     case 'EXCLUSIVE BREAST FEEDING':
            //         feedingOptionAnswer = conceptAnswers[2].exclusiveBreastFeeding;
            //         break;
            //     case 'NO BREAST FEEDING':
            //         feedingOptionAnswer = conceptAnswers[2].noBreastFeeding;
            //         break;
            //     case 'EXCLUSIVE FORMULA FEEDING':
            //         feedingOptionAnswer = conceptAnswers[2].exclusiveFormulaFeeding;
            //         break;
            //     default:
            //         break;
            // }
    
            // var obs = {
            //     encounter_id: encounter["encounter_id"],
            //     observations: [
            //         { concept_id: 3753, value_coded: hivStatusAnswer } // hiv status
            //     ]
            // };
    
            // if(pmtctTestDate !== '') {
            //     var pmtctTestDay = pmtctTestDate.split('-')[0];
            //     var pmtctTestMonth = pmtctTestDate.split('-')[1];
            //     var pmtctTestYear = pmtctTestDate.split('-')[2];
    
            //     var pmtctTestDates = pmtctTestYear + "-" + pmtctTestMonth + "-" + pmtctTestDay;
    
            //     obs.observations.push({ concept_id: 1837, value_datetime: pmtctTestDates }); // pmtct test date
            // }
            // if(pmtctOnArvs !== '') {
            //     obs.observations.push({ concept_id: 1577, value_coded: pmtctOnArvsAnswer }); // pmtct on arvs
            // }
            // if(periodOnArvs !== '') {
            //     var periodOnArvsDay = periodOnArvs.split('-')[0];
            //     var periodOnArvsMonth = periodOnArvs.split('-')[1];
            //     var periodOnArvsYear = periodOnArvs.split('-')[2];
    
            //     var periodOnArvsDate = periodOnArvsYear + "-" + periodOnArvsMonth + "-" + periodOnArvsDay;
    
            //     obs.observations.push({ concept_id: 7833, value_datetime: periodOnArvsDate }); // period on arvs
            // }
            // if(feedingOption !== '') {
            //     obs.observations.push({ concept_id: 1151, value_coded: feedingOptionAnswer }); // feeding option
            // }
    
            // submitParameters(obs, "/observations", "nextPage")
        }
    
        function nextPage(){
            nextEncounter(sessionStorage.patientID, sessionStorage.programID);
        }
    </script>
    