
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/apps/MATERNITY/assets/js/common.js"></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>
    .inputFrameClass {
        width: 96% !important;
    }

</style>

<script>
    var patientID = sessionStorage.getItem("patientID");
    var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
    var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;

</script>

<body id="mateme">
<div id="container">
    <div id="content">

        <form>
            <input type="text" name="fundus" id="fundus" helpText="Fundus (weeks)" field_type="number" min="1" absoluteMax = "45" tt_onLoad="showCategory2('Vaginal examination');" tt_pageStyleClass="Numeric NumbersOnly" />

            <select id="genetalia_inspection" name="genetalia_inspection" tt_onLoad="showCategory2('Vaginal examination');" tt_pageStyleClass="NoKeyboard" helpText="Genetalia Inspection">
                <option></option>
                <option>Not done</option>
                <option>Scar</option>
                <option>Sores</option>
                <option>Warts</option>
                <option>Bleeding</option>
                <option>Liquor</option>
                <option>Varicose Veins</option>
                <option>Nothing Abnormal Detected</option>
                <option>Show</option>
            </select>

            <select id="station" name="station" helpText="Station" tt_pageStyleClass="NoKeyboard" tt_onLoad="showCategory2('Vaginal examination');">
                <option></option>
                <option>-3</option>
                <option>-2</option>
                <option>-1</option>
                <option>0</option>
                <option>+1</option>
                <option>+2</option>
                <option>+3</option>
                <option>N/A</option>
            </select>

            <select id="cervical_dilation" name="cervical_dilation" tt_pageStyleClass="NoKeyboard" helpText="Cervical Dilation" tt_onLoad="showCategory2('Vaginal examination');">
                <option></option>
                <option>Not done</option>
                <option>Finger tip</option>
                <option>Open</option>
                <option>Closed</option>
            </select>

            <select id="caput" name="caput"tt_pageStyleClass="NoKeyboard" helpText="Caput" tt_onLoad="showCategory2('Vaginal examination');">
                <option></option>
                <option>0</option>
                <option>1+</option>
                <option>2+</option>
                <option>3+</option>
                <option>N/A</option>
            </select>

            <select id="moulding" name="moulding" helpText="Moulding"tt_pageStyleClass="NoKeyboard" tt_onLoad="showCategory2('Vaginal examination');">
                <option></option>
                <option>0</option>
                <option>1+</option>
                <option>2+</option>
                <option>3+</option>
                <option>N/A</option>
            </select>

            <select id="membranes" name="membranes" helpText="Membranes" tt_onLoad="showCategory2('Vaginal examination');changeNextButtonIntactMembrane();">
                <option></option>
                <option>Intact</option>
                <option>Raptured</option>
            </select>


            <input type="text" name="rupture_time"
                   id="rupture_time" field_type="advancedTime"
                   helpText="Membrane Rapture Time"
                   allowFreeText="true" optional = "true"
                   condition ="__$('membranes').value == 'Raptured'" tt_onLoad="showCategory2('Vaginal examination');" />

            <input type="text" name="rupture_date" id="rupture_date" helpText="Membranes Rupture Date" field_type="date"
                   condition="$('membranes').value == 'Raptured'" tt_onLoad="showCategory2('Vaginal examination');" tt_pageStyleClass="date"/>

            <select id="colour_of_liqour" name="colour_of_liqour" helpText="Colour of Liqour" tt_onLoad="showCategory2('Vaginal examination');" tt_pageStyleClass="NoKeyboard" condition="__$('membranes').value == 'Raptured'">
                <option></option>
                <option>Clear</option>
                <option>Meconium Grade 1</option>
                <option>Meconium Grade 2</option>
                <option>Meconium Grade 3</option>
                <option>Blood</option>
                <option>Absent</option>
                <option>Pus</option>
            </select>

            <select id="presenting_part" name="presenting_part" tt_onLoad="showCategory2('Vaginal examination');changeNextButton();"tt_pageStyleClass="NoKeyboard" helpText="Presenting Part" condition = "__$('membranes').value == 'Raptured'">
                <option></option>
                <option>Not Done</option>
                <option>Vertex</option>
                <option>Sacrum</option>
                <option>Breech</option>
                <option>Hand</option>
                <option>Foot</option>
                <option>Shoulder</option>
                <option>Cord</option>
            </select>
        </form>

    </div>
</div>
</body>

<script>
    var fundus;
    var genetaliaInspection;
    var station;
    var cervicalDilation;
    var caput;
    var moulding;
    var membranes;
    var ruptureTime;
    var ruptureDate;
    var colorOfLiqour;
    var presentingPart = document.getElementById('presenting_part').value;

    function changeNextButton() {
        var nextButton =  document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown","postVaginalExam();");
    }

    function changeNextButtonIntactMembrane() {
        var nextButton =  document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown","postVaginalExamIntact();");
    }

    function postVaginalExam() {
        presentingPart = document.getElementById('touchscreenInput' + tstCurrentPage).value;

        var currentTime = moment().format(' HH:mm:ss');
        var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
        encounter_datetime += currentTime;

        var encounter = {
            encounter_type_name: 'VAGINAL EXAMINATION',
            encounter_type_id:  102,
            patient_id: sessionStorage.patientID,
            encounter_datetime: encounter_datetime
        };

        submitParameters(encounter, "/encounters", "postVaginalObs");
    }

    function postVaginalExamIntact() {
        membranes = document.getElementById('touchscreenInput' + tstCurrentPage).value;

        if (membranes === 'Intact') {
            var currentTime = moment().format(' HH:mm:ss');
            var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
            encounter_datetime += currentTime;

            var encounter = {
                encounter_type_name: 'VAGINAL EXAMINATION',
                encounter_type_id:  102,
                patient_id: sessionStorage.patientID,
                encounter_datetime: encounter_datetime
            };

            submitParameters(encounter, "/encounters", "postVaginalObs");
        } else {
            gotoNextPage();
        }

    }

    function postVaginalObs(encounter) {

        fundus = document.getElementById('fundus').value;
        genetaliaInspection = document.getElementById('genetalia_inspection').value;
        station = document.getElementById('station').value;
        cervicalDilation = document.getElementById('cervical_dilation').value;
        caput = document.getElementById('caput').value;
        moulding = document.getElementById('moulding').value;
        membranes = document.getElementById('membranes').value;
        ruptureTime = document.getElementById('rupture_time').value;
        ruptureDate = document.getElementById('rupture_date').value;
        colorOfLiqour = document.getElementById('colour_of_liqour').value;

        var conceptAnswers = [
            // Blood loss
            {
                "activeBleeding": 8591,
                "noActiveBleeding": 9727,
                "lochia": 9728
            },
            // station
            {
                "3minus": 9701,
                "2minus": 9702,
                "1minus": 9703,
                "zero": 1101,
                "1plus": 7129,
                "2plus": 7130,
                "3plus": 7131,
                "notAvailable": ''
            },
            // cervical dilation
            {
                "fingerTip": 9704,
                "open": 9705,
                "closed": 9706
            },
            // membranes
            {
                "intact": 9707,
                "raptured": 8653
            },
            // color of liqour
            {
                "clear": 3236,
                "meconiumGrade1": 9708,
                "meconiumGrade2": 9709,
                "meconiumGrade3": 9710,
                "blood": 7333,
                "absent": 6324,
                "pus": 7946
            },
            // presenting part
            {
                "vertex": 7895,
                "sacrum": 7912,
                "breech": 9426,
                "hand": 7913,
                "foot": 7914,
                "shoulder": 7915,
                "cord": 7916
            }
        ];

        var genetaliaInspectionAnswer;
        var stationAnswer;
        var cervicalDilationAnswer;
        var caputAnswer;
        var membranesAnswer;
        var colorOfLiqourAnswer;
        var presentingPartAnswer;
        var mouldingAnswer;

        switch (genetaliaInspection.toUpperCase()) {
            case 'NOT DONE':
                genetaliaInspectionAnswer = conceptAnswers[0].notDone;
                break;
            case 'SCAR':
                genetaliaInspectionAnswer = conceptAnswers[0].scar;
                break;
            case  'SORES':
                genetaliaInspectionAnswer = conceptAnswers[0].sores;
                break;
            case 'WARTS':
                genetaliaInspectionAnswer = conceptAnswers[0].warts;
                break;
            case 'BLEEDING':
                genetaliaInspectionAnswer = conceptAnswers[0].bleeding;
                break;
            case 'LIQUOR':
                genetaliaInspectionAnswer = conceptAnswers[0].liquor;
                break;
            case 'VARICOSE VEINS':
                genetaliaInspectionAnswer = conceptAnswers[0].varicoseVeins;
                break;
            case 'NOTHING ABNORMAL DETECTED':
                genetaliaInspectionAnswer = conceptAnswers[0].nothingAbnormalDetected;
                break;
            case 'SHOW':
                genetaliaInspectionAnswer = conceptAnswers[0].show;
                break;
            default:
                break;
        }

        switch(station.toUpperCase()) {
            case '-3':
                stationAnswer = conceptAnswers[1]["3minus"];
                break;
            case '-2':
                stationAnswer = conceptAnswers[1]["2minus"];
                break;
            case '-1':
                stationAnswer = conceptAnswers[1]["1minus"];
                break;
            case '0':
                stationAnswer = conceptAnswers[1].zero;
                break;
            case '+1':
                stationAnswer = conceptAnswers[1]["1plus"];
                break;
            case '+2':
                stationAnswer = conceptAnswers[1]["2plus"];
                break;
            case '+3':
                stationAnswer = conceptAnswers[1]["3plus"];
                break;
            case 'N/A':
                stationAnswer = conceptAnswers[1].notAvailable;
                break;
            default:
                break;
        }

        switch (cervicalDilation.toUpperCase()) {
            case 'NOT DONE':
                cervicalDilationAnswer = conceptAnswers[0].notDone;
                break;
            case 'FINGER TIP':
                cervicalDilationAnswer = conceptAnswers[2].fingerTip;
                break;
            case 'OPEN':
                cervicalDilationAnswer = conceptAnswers[2].open;
                break;
            case 'CLOSED':
                cervicalDilationAnswer = conceptAnswers[2].closed;
                break;
            default:
                break;
        }

        switch (caput.toUpperCase()) {
            case '0':
                caputAnswer = conceptAnswers[1].zero;
                break;
            case '1+':
                caputAnswer = conceptAnswers[1]["1plus"];
                break;
            case '2+':
                caputAnswer = conceptAnswers[1]["2plus"];
                break;
            case '3+':
                caputAnswer = conceptAnswers[1]["3plus"];
                break;
            case 'N/A':
                caputAnswer = conceptAnswers[1].notAvailable;
                break;
            default:
                break;
        }

        /* moulding uses caput answer hence the exact switch block */
        /* TODO Refactor into one block. Same should be for all others */
        switch (moulding.toUpperCase()) {
            case '0':
                mouldingAnswer = conceptAnswers[1].zero;
                break;
            case '1+':
                mouldingAnswer = conceptAnswers[1]["1plus"];
                break;
            case '2+':
                mouldingAnswer = conceptAnswers[1]["2plus"];
                break;
            case '3+':
                mouldingAnswer = conceptAnswers[1]["3plus"];
                break;
            case 'N/A':
                mouldingAnswer = conceptAnswers[1].notAvailable;
                break;
            default:
                break;
        }
        switch (membranes.toUpperCase()) {
            case 'INTACT':
                membranesAnswer = conceptAnswers[3].intact;
                break;
            case 'RAPTURED':
                membranesAnswer = conceptAnswers[3].raptured;
                break;
            default:
                break;
        }

        switch (colorOfLiqour.toUpperCase()) {
            case 'CLEAR':
                colorOfLiqourAnswer = conceptAnswers[4].clear;
                break;
            case 'MECONIUM GRADE 1':
                colorOfLiqourAnswer = conceptAnswers[4].meconiumGrade1;
                break;
            case 'MECONIUM GRADE 2':
                colorOfLiqourAnswer = conceptAnswers[4].meconiumGrade2;
                break;
            case 'MECONIUM GRADE 3':
                colorOfLiqourAnswer = conceptAnswers[4].meconiumGrade3;
                break;
            case 'BLOOD':
                colorOfLiqourAnswer = conceptAnswers[4].blood;
                break;
            case 'ABSENT':
                colorOfLiqourAnswer = conceptAnswers[4].absent;
                break;
            case 'PUS':
                colorOfLiqourAnswer = conceptAnswers[4].pus;
                break;
            default:
                break;
        }

        switch (presentingPart.toUpperCase()) {
            case 'NOT DONE':
                presentingPartAnswer = conceptAnswers[0].notDone;
                break;
            case 'VERTEX':
                presentingPartAnswer = conceptAnswers[5].vertex;
                break;
            case 'SACRUM':
                presentingPartAnswer = conceptAnswers[5].sacrum;
                break;
            case 'BREECH':
                presentingPartAnswer = conceptAnswers[5].breech;
                break;
            case 'HAND':
                presentingPartAnswer = conceptAnswers[5].hand;
                break;
            case 'FOOT':
                presentingPartAnswer = conceptAnswers[5].foot;
                break;
            case 'SHOULDER':
                presentingPartAnswer = conceptAnswers[5].shoulder;
                break;
            case 'CORD':
                presentingPartAnswer = conceptAnswers[5].cord;
                break;
            default:
                break;
        }

        var obs = {
            encounter_id: encounter["encounter_id"],
            observations: [
                { concept_id: 7835, value_numeric: fundus}, // fundus
                { concept_id: 7841, value_coded: genetaliaInspectionAnswer}, // genetalia inspection
                { concept_id: 7842, value_coded: stationAnswer}, // station
                { concept_id: 7843, value_coded: cervicalDilationAnswer}, // cervical dilation
                { concept_id: 7844, value_coded: caputAnswer}, // caput
                { concept_id: 7944, value_coded: mouldingAnswer}, // moulding
                { concept_id: 7845, value_coded: membranesAnswer} // membranes
            ]
        };

        if(ruptureTime !== '') {
            obs.observations.push({ concept_id: 7847, value_text: ruptureTime});
        }
        if(ruptureDate !== '') {
            obs.observations.push({ concept_id: 7846, value_datetime: ruptureDate});
        }
        if(colorOfLiqour !== '') {
            obs.observations.push({ concept_id: 7848, value_coded: colorOfLiqourAnswer});
        }
        if(presentingPart !== '') {
            obs.observations.push({ concept_id: 7849, value_coded: presentingPartAnswer});
        }

        submitParameters(obs, "/observations", "nextPage")
    }

    function nextPage() {
        nextEncounter(sessionStorage.patientID, sessionStorage.programID);
    }
</script>